/**
 * 分享页样式
 * 
 */


body{
	background-color: #FFFFFF;
	
}

.share_body{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	position: relative;
}



/*图*/
.share_pic img,.share_bg img{
	display: block;
	width: 100%;
	max-width: 750px;
}

/*背景*/
.share_bg{
	position: relative;
}

/*邀请介绍*/
.share_bg p{
	font-size: 13px;
	text-align: center;
	color: #353535;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


/*邀请按钮*/
.share_click{
	padding-bottom:20px;
}

.share_click a{
	display: block;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	width: 88%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #ef7c93;
	margin: 0 auto;
}

.share_up_bg{
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
}


.share_up{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.7;
	z-index: 2;
}

/*.share_up_copy{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}*/

.share_arrow{
	width: 21%;
	position: absolute;
	top: 5%;
	right: 10%;
	z-index: 3;
	
}

.share_fenx{
	width: 65%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	z-index: 3;
	border-radius: 4px;
}


@media screen and (min-width: 375px) {
	.share_bg p{
		font-size: 14px;
	}
	.share_click a{
		width: 81%;
	}
}