/* TAB 切换区域  @ 此处为共用部分 */

.sa-tabWrap {
  position: relative;
  height: 47px;
}

.sa-tab {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  background-color: #fff;
  z-index: 100;
}

.sa-tab:after {
  position: absolute;
  z-index: 8;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #bcbbbc;
  -webkit-transform: scaleY(0.5);
}

.sa-tab li.on {
  position: relative;
  color: #5b86c9;
}

.sa-tab li.on:after {
  position: absolute;
  z-index: 9;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #5b86c9;
}


/* 文章列表 */

.sa-list {}

.sa-item {
  display: block;
  margin-top: 8px;
  padding: 10px;
  background-color: #fff;
}

.sa-item h3 {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #454545;
}

.sa-item img {
  width: 60px;
  float: right;
  margin-left: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.sa-list2 .sa-item h3 {
  color: #898989;
}


/* 文章详情 */

.sac-top {
  padding: 12px 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.sac-top h2 {
  font-size: 20px;
  line-height: 1.5;
  color: #333;
}

.sac-top p {
  font-size: 14px;
  line-height: 24px;
  padding-top: 5px;
}

.sac-top p a {
  padding-right: 5px;
}

.sac-top p em {
  padding-left: 5px;
}

.sac-cont {
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}


/* 分享提示层 */

.sac-share,
.sac-share-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.sac-share-bg {
  z-index: 1000;
  background-color: #000;
  opacity: 0.7;
}

.sac-share {
  z-index: 1001;
}

.sac-share b {
  display: block;
  float: right;
  width: 238px;
  height: 177px;
  margin-right: 25px;
  margin-top: 10px;
  background: url(images/share.png) no-repeat;
}


/* 分享按钮 */
.sac-shareBtn-wrapper{
  height: 46px;
}
.sac-shareBtn {
  position: fixed;
  width: 100%;
  height: 46px;
  line-height: 46px;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #fb6c00;
  color: #FFF;
  font-size: 16px;
  z-index: 998;
}