/**
 * 商城样式
 * @require /widget/base/base.css
 */

/*.bd_body_main{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 50px 0 0 0;
	-webkit-overflow-scrolling: touch;
    overflow-y: scroll;
	-webkit-animation: cut-in .4s forwards;
	animation: cut-in .4s forwards;
}*/


.body_main_nx{ overflow-y:scroll;}
img{ display: block;}

/*头部*/
.bd_bg{
	background-color: #393a3f;
}

.bd_logo{
	height: 50px;
}

.bd_logo img{
	height: 50px;
	margin-left: 15px;
}

.bd_logo a{
	display: block;
	width: 100%;
	height: 100%;
}

.bd_copy{
	/*width: 205px;*/
	height: 50px;
}

.bd_copy a{
	display: block;
	width: 100%;
	height: 100%;
}

.bd_copy p{
	color: #ececec;
	font-size: 15px;
	line-height: 49px;
	margin-left: 10px;
	height: 50px;
}

.bd_pic a{
	display: block;
}

.bd_pic a img{
	display: block;
}

/*更多优惠*/
.bd_consu{
	text-align: center;
}

.bd_consu h2{
	margin-top: 20px;
	font-size: 18px;
	color: #c1292b;
	font-weight: bold;
	line-height: 100%;
	margin-bottom: 10px;
	
}

.bd_consu h3,.bd_consu h4 {
	font-size: 16px;
	color: #333333;	
	font-weight: normal;
	line-height: 100%;
}
.bd_consu h4{
	margin-bottom: 15px;
	margin-top: 5px;
}

.bd_consu h4 span{
	font-weight: bold;
}

.bd_click{
	display: block;
	width: 220px;
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 17px;
	background-color: #232323;
	margin: 0 auto;
	margin-bottom: 25px;
}


/*糖帮帮平台*/
.bd_plat{
	background-color: #FFFFFF;
}

.bd_title{
	padding: 25px 0 15px 0;
}

.bd_plat p{
	color: #101010;
	font-size: 14px;
	text-indent: 2em;
	padding: 0px 10px;
	line-height: 130%;
	padding-bottom: 10px;
}

.bd_plat p span{
	color: #c1292b;
}


/*六宫格*/
.bd_recta{
	padding-bottom: 10px;
	background-color: #FFFFFF;
}

.bd_recta .flex1{
	width: 50%;
	height: 200px;
	margin-right: 10px;
}

.bd_recta .flex1 img{
	width: 55px;
	height: 55px;
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 15px;
}

.bd_recta .flex1 h2,.bd_recta .flex1 p{
	color: #FFFFFF;
	padding: 0 14px;
}

.bd_recta .flex1 h2{
	font-size: 15px;
}

.bd_recta .flex1 p{
	font-size:13px;
}

/*iPhone5*/
@media screen and (max-width: 320px) {
	.bd_recta .flex1 h2{
	font-size: 14px;
	}
	
	.bd_recta .flex1 p{
	font-size:12px;
	}
	
	.bd_recta .flex1 h2,.bd_recta .flex1 p{
	padding: 0 6px;
	}
}


.bd_recta .flex1:first-child{
	margin-left: 10px;
	
}

.bd_recta .bd_gra{
	background-color: #5c5c5c;
}

.bd_recta .bd_red
{
	background-color: #c1292b;
}





/*更多福利*/
.bd_welf{
	text-align: center;
	padding-top: 15px;
	background-color: #FFFFFF;
	
}


.bd_welf h2{
	font-size: 18px;
	color: #c1292b;
	line-height: 100%;
	padding-bottom: 5px;
}

.bd_welf h3{
	font-size: 17px;
	color: #1f1f1f;
	line-height: 100%;
	font-weight: normal;
}

.bd_welf h3 span{
	font-size: 18px;
	color: #454545;
	font-weight: bold;
}


.bd_writer{
	background-color: #FFFFFF;
	text-align: center;
}




.bd_writer h2{
	font-size: 24px;
	color: #454545;
	padding-top: 20px;
}


.bd_frame{
	width: 80%;
	border: 6px solid #4c4c4c;
	margin: 0 auto;
	position: relative;
	margin-top: 10px;
	
	
}


.bd_frame p{
	font-size: 15px;
	line-height: 160%;
	color: #454545;
}

.bd_frame p:first-child{
	display: block;
	width: 90px;
	background-color: #FFFFFF;
	position: absolute;
	top: -15px;
	left: 0;
	right: 0;
	margin: auto;
}

.bd_frame p:nth-child(2){
	padding-top: 8px;
}

.bd_frame p:last-child{
	padding-bottom: 15px;
}

.bd_frame span{
	display: block;
	width: 50px;
	height: 1px;
	border-bottom: 4px solid #4c4c4c;
	margin: 10px auto;
}

.bd_fw{
	font-weight: bold;
}


/*二维码*/
.bd_qr{
	position: relative;
	width: 100%;
	background-color: #FFFFFF;
	height: 178px;
	padding-top: 30px;
	line-height: 160%;
}

.bd_qr .bd_share{
	height: 125px;
	border: 6px solid #FFFFFF;
	position: absolute;
	left: 50%;
	margin-left: -137px;
	z-index: 9;
}

.bd_qr .bd_code{
	width: 125px;
	height: 150px;
	background-color: #454545;
	position: absolute;
	top:49px;
	right: 50%;
	margin-right: -137px;
	z-index: 10;
	color: #eae8e8;
	font-size: 14px;
	text-align: center;
	line-height: 200%;
}

.bd_qr .bd_code img{
	height: 100px;
	margin: 0 auto;
	padding-top: 13px;
	padding-bottom: 5px;
}

.bd_qr .bd_bggray{
	background-color: #353131;
	width: 100%;
	height: 110px;
	position: absolute;
	top: 100px;
	z-index: 8;
}


/*留下联系方式*/
.bd_contact{
	background-color: #353131;
	padding: 25px 0;
	padding-bottom: 80px;
}

.bd_contact h2{
	font-size: 25px;
	color: #cfcccc;
	line-height: 120%;
	text-align: center;
	line-height: 1.3;
}

.bd_mt{
	margin-bottom: 15px;
	font-weight: normal;
}

.bd_contact p{
	font-size: 17px;
	color: #cfcccc;
	text-align: center;
	line-height: 100%;
	padding-bottom: 8px;
}

.bd_putname,.bd_putnum{
	position: relative;
}


.bd_putname input,.bd_putnum input{
	display: block;
	height: 40px;
	width: 80%;
	font-size: 17px;
	color: #b5b4b4;
	border-radius: 4px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-indent: 70px;
}

.bd_putname span,.bd_putnum span{
	font-size: 17px;
	color: #5d5d5d;
	display: block;
	width: 60px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	left: 13%;
	top: 1px;
}

.bd_submit{
	width: 80%;
	height: 40px;
	background-color: #c1292b;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 20px;
}

.bd_submit a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 40px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
}

/*底部导航*/
.bd-foot{
	height: 51px;
}

.bd-foot ul{
	width: 100%;
	height: 51px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
}

.bd-foot li{
	display: block;
	width: 100%;
	height: 51px;
	line-height: 51px;
	text-align: center;
	color: #FFFFFF;
	text-indent: 35px;
	font-size: 17px;
}

.bd-foot li:first-child{
	background: url(../images/seonav_03.jpg)no-repeat 21% center #a42426;
	background-size:33px 26px ;
	border-right: 1px solid #f15d62;
}
.bd-foot li:nth-child(2){
	background: url(../images/seonav_05.jpg)no-repeat 21% center #a42426;
	background-size:33px 26px ;
	border-right: 1px solid #f15d62;
	border-left: 1px solid #74191b;
}
.bd-foot li:last-child{
	background: url(../images/seonav_07.jpg)no-repeat 21% center #a42426;
	background-size:33px 26px ;
	border-left: 1px solid #74191b;
	color: #d29293;
}

.bd-foot li a{
	display: block;
	width: 100%;
	height: 100%;	
}

/*弹出层*/
.bd_mask{
	position: fixed;
	width: 100%;
	height: 100%;
	
}
/*遮罩*/
.bd_mask_bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.5;
}


.bd_mask_pic{
	width: 275px;
	height: 240px;
	border-radius: 4px;
	background: url(../images/seo_03.jpg)no-repeat center center;
	background-size:100% 100% ;
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
	margin: auto;
}
/*链接*/
.bd_mask_pic a{
	position: absolute;
	font-size: 12px;
	color: #3e3e3e;
	text-decoration: underline;
	text-indent: 15px;
	bottom: 20px;
	
}

.bd_mask_pic a span{
	font-weight: bold;
}