
html,body{
	margin: 0;
	padding: 0;
}

.body_shop{
	background-color: #446ab5;
	overflow-y: scroll;
}

.headpic{
	display: block;
	width: 100%;
}

.pt10{
	padding-top: 10px;
}

.pt15{
	padding-left:15px;
	padding-right: 15px;
}



.coupons{
	background-color: #446ab5;
	text-align: center;
}

.coupons .flex_box a{
	display: inline-block;
	width: 49%;
}

.coupons .flex_box a img{
	width: 100%;
	display: inline-block;
}


.picup{
	padding-bottom: 5px;
}

.piclef{
	margin-right: 10px;
}


.body_shop .surprise{
	padding-left: 15px;
	background-color: #446ab5;
	height: 40px;
}

.body_shop .surprise p{
	font-size: 12px;
	color: #c6dcfd;
	line-height: 40px;
	background: url(../images/ztshop_05.jpg)no-repeat left center;
	background-size:16px 16px ;
	text-indent: 20px;
}

.body_shop .surprise p span{
	color: #ffe92e;
}

.body_shop .title{
	height: 60px;
	padding-top: 25px;
	position: relative;
	background-color: #4f78c0;
	
}

.body_shop .title h2{
	font-size: 15px;
	color: #d3e4fd;
	display: block;
	width: 78%;
	height: 36px;
	border: 2px solid #87a4de;
	margin: 0 auto;
	line-height: 280%;
	text-align: center;
	
}

.body_shop .title h2 a{
	color: #d3e4fd;
}

.body_shop .title h3{
	font-weight: bold;
	font-size: 18px;
	display: block;
	background-color: #4f78c0;
	position: absolute;
	left: 50%;
	top: 13px;
	color: #FFFFFF;
	text-align: center;
}

.body_shop .title h3 a{
	color: #fff;
}

.sltg{
	width: 130px;
	margin-left: -65px;
}


.body_shop .title .dkxz{
	width: 95px;
	margin-left: -52px;
}

/* 右侧悬浮咨询图标 */
.shop_float{
	z-index: 1000;
    right: 0px;
    top: 50%;
    position: fixed;
    margin-top: -75px;
}

@media screen and (min-width: 350px) {
   .surprise p{
		font-size: 14px;  
		text-indent: 25px;
    }
}