/* 
 * face：QQ表情模块样式
 */

.ui-face{
	padding-bottom: 22px;
	width: 320px;
	height: 130px;
	margin: 0 auto;
	overflow: hidden;
	/*background-color: #DCDCDC;*/
	/*border-radius: 0 0 6px 6px;*/
}

.ui-face ul{
	width: 9999px;
}

.ui-face-panel{
	width: 320px;
	height: 130px;
	background-repeat: no-repeat;
    background-size: contain;
}

.ui-face-panel-1{
    background-image: url(images/face1.jpg);
}

.ui-face-panel-2{
    background-image: url(images/face2.jpg);
}

.ui-face-panel-3{
    background-image: url(images/face3.jpg);
}

.ui-face-panel-4{
    background-image: url(images/face4.jpg);
}

.ui-face-panel-5{
    background-image: url(images/face5.jpg);
}

.ui-face-panel-6{
    background-image: url(images/face6.jpg);
}

.ui-face-panel span{
	width: 45px;
    height: 42px;
    display: block;
    float: left;
}

.ui-face-panel span:hover {
    background-color: #000;
    opacity: 0.1;
}



/**** 动画效果 ****/

/* slide效果：初始隐藏class */
.ui-face-slide{
	height: 0px;
	overflow: hidden;
	opacity: 0 
}

/* slide效果：显示class */
.ui-face-slide-in {
	-webkit-animation: face-slide-in .4s forwards;
	animation: face-slide-in .4s forwards;
}

/* slide效果：隐藏class */
.ui-face-slide-out {
	-webkit-animation: face-slide-out .3s forwards;
	animation: face-slide-out .3s forwards;
}

/* slide效果：显示动画 */
@-webkit-keyframes face-slide-in {
	0% {
		height: 0px;
		opacity: 0;
	}
	to {
		height: 152px;
		opacity: 1;
	}
}

@keyframes face-slide-in {
	0% {
		height: 0px;
		opacity: 0;
	}
	to {
		height: 152px;
		opacity: 1;
	}
}

/* slide效果：隐藏动画 */
@-webkit-keyframes face-slide-out {
	0% {
		height: 152px;
		opacity: 1;
	}
	to {
		height: 0px;
		opacity: 0;
	}
}

@keyframes face-slide-out {
	0% {
		height: 152px;
		opacity: 1;
	}
	to {
		height: 0px;
		opacity: 0;
	}
}


/* 大于320宽度屏幕样式  */

@media all and (min-width: 321px) {
	
    .ui-face {
        width: 360px;
        height: 145px;
    }

    .ui-face-panel {
        width: 360px;
        height: 145px;
    }

    .ui-face-panel span {
        width: 51px;
        height: 47px;
    }
    
    @-webkit-keyframes face-slide-in {
		0% {
			height: 0px;
			opacity: 0;
		}
		to {
			height: 167px;
			opacity: 1;
		}
	}
	
	@keyframes face-slide-in {
		0% {
			height: 0px;
			opacity: 0;
		}
		to {
			height: 167px;
			opacity: 1;
		}
	}
	
	@-webkit-keyframes face-slide-out {
		0% {
			height: 167px;
			opacity: 1;
		}
		to {
			height: 0px;
			opacity: 0;
		}
	}
	
	@keyframes face-slide-out {
		0% {
			height: 167px;
			opacity: 1;
		}
		to {
			height: 0px;
			opacity: 0;
		}
	}
    
}
