.md-graph *{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* X轴、Y轴坐标轴和刻度样式 */
.md-graph .axis {
  shape-rendering: crispEdges;
}

.md-graph .axis text{
	font-family: sans-serif;
    font-size: 12px;
    fill: #999;
}

.md-graph .axis path, .md-graph .axis line {
  fill: none;
  stroke: #C9CACA;
  shape-rendering: crispEdges;
}

.md-graph .axis line{
  stroke:none;
}

/* X轴、Y轴各刻度拉伸的延长对照虚线 */
.md-graph .axis .grid-line{
    stroke: gray;
    shape-rendering: crispEdges;
    stroke-opacity: .15;
}

.md-graph .x.axis .tick .grid-line{
   stroke-dasharray: 2,2;
}

.md-graph .x.axis .tick:last-child .grid-line{
   stroke-dasharray: none;
}

/* Y轴：正常区间样式 */
.md-graph rect.normal{
   opacity: 0.1;
}

/* 折线样式 */
.md-graph .line{
    fill: none;
    stroke: steelblue;
    stroke-width: 2;
}

/* 数据标识文本样式 */
.md-graph text.mark{
	font-family: "microsoft yahei";
    font-size: 12px;
    fill: #666;
}

/* 矩形遮罩层样式 */
.md-graph rect.pane {
  cursor: move;
  fill: none;
  pointer-events: all;
}