/**
 * 首页样式
 */

.login-item{
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #fff;
	padding: 20px;
}

.login-item a.btn{
	display: block;
	width: 100%;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	border-radius: 8px;
}

.login-item p{
	margin-top: 10px;
	font-size: 13px;
	line-height: 18px;
	color: #777;
	text-align: center;
}

.login-item1 a{
	background-color: #4AAA4A;
}

.login-item2 a{
	background-color: #E69D5F;
}


/* 表格行 */
.login-row{
	margin-bottom: 12px;
	font-size: 14px;
	color: #333;
	height: 38px;
	line-height: 38px;
}

.login-row span{
	display: block;
	width: 60px;
	font-size: 15px;
	color: #555;
}

.login-row input{
	display: block;
	border: 1px solid #dedede;
	text-indent: 6px;
	outline: 0;
	line-height: 36px;
}

.login-submit{
	display: block;
	width: 100%;
	line-height: 46px;
	background-color: #E69D5F;
	border: 0;
	color: #fff;
	font-size: 18px;
	margin-top: 15px;
}

/* QQ登录 */
.login-qq{
	margin-top: 15px;
	text-align: center;
}

.login-qq a{
	
}

.login-qq img{
	display: inline-block;
	width: 40px;
}

.login-qq span{
	display: block;
	text-align: center;
	color: #888;
}

/* 忘记密码 */
.login-tip{
	position: relative;
	margin-top: 12px;
}

.login-tip-qq{
	color: #597cba;
}

.login-forget{
	line-height: 20px;
	color: #999;
}

/* 提示文字 */
.login-alert{
	color: #555;
}
