/**
 * bloodAdd.html 页面样式
 */

.bloodAddScroller *{
	-webkit-box-sizing: border-box;
    box-sizing: border-box
}

/* 右侧按钮 */
.ui-header-rbtn{
	display: block;
	height: 100%;
	z-index: 8;
	color: #dbe3f0;
	font-size: 15px;
	text-align: right;
	padding-right: 16px;
}


/* 页面scroll层 */
.bloodAddContent{ }

/* 仪表盘 */
.dashboard {
	position: relative;
	width: 250px;
	height: 130px;
	margin: 0px auto;
}

#dashBoardTarget {
	position: relative;
	width: 250px;
	height: 130px;
	display: inline-block;
}

/* 血糖值输入框 */
.glucoseValue {
	position: relative;
	width: 280px;
	height: 60px;
	margin: 0 auto;
}

.glucoseValueBor {
	margin: 0 auto;
	width: 150px;
	height: 60px;
	background-color: #F7F8F8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.glucoseValue span {
	position: absolute;
	height: 20px;
	right: 5px;
	bottom: 5px;
	color: #AFAFAF;
	font-size: 13px;
}

.glucoseValue input {
	display: block;
	position: relative;
	width: 110px;
	height: 40px;
	top: 50%;
	left: 50%;
	background: -moz-linear-gradient(top, #fff, #0BCC21);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EFEFEF), to(#fff));
	background: -o-linear-gradient(top, #EFEFEF, #fff);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 24px;
	text-align: center;
	cursor: text;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%); 	/* IE 9 */
	-moz-transform:translate(-50%,-50%); 	/* Firefox */
	-webkit-transform:translate(-50%,-50%); /* Safari 和 Chrome */
	-o-transform:translate(-50%,-50%); 	/* Opera */
}

/* 血糖值颜色 */
.redc{
  color: red;
}
.orangec{
  color: orange;
}
.greenc{
  color: #22AC38;
}


/* 测试时间段 */
.sn-input-group{
	position: relative;
    display: table;
    border-collapse: separate;
    margin:25px 15px 0 15px;
    border: 1px solid #ccc;
    border-bottom: none;
}
.sn-input-row{
	display: table-row;
	position: relative;
}
.sn-input-group-label{
	height: 38px;
    padding: 0 1em;
    font-weight: 400;
    line-height: 36px;
    color: #555;
    text-align: center;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    background-color: #F3F3F3;
}
.sn-form-field {
    display: table-cell;
    width: 100%;
    text-indent: 6px;
    padding: .5em;
    height: 38px;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    font-size: 14px;
    /* 允许选中文本  */
    -webkit-user-select: text;
	user-select: text;
}
.sn-input-group-label:first-child{
	border-right:none;
}
.sn-input-group-label,.sn-form-field{
	display: table-cell;
}

/* 右侧模拟select的向下箭头 
 * 因为table-cell无法使用relative，只能分两个来写
 */
.sn-form-field-arrow1, .sn-form-field-arrow2{
	position: absolute;
	right: 10px;
	top: 14px;
	z-index: 9;    
	width:0; 
    height:0; 
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:7px solid #999;
    pointer-events: none
}

.sn-form-field-arrow2{ top: auto; bottom: 14px; }


/* 饮食、用药、运动描述 */
.sn-input-group2{
	margin-top: 20px;
}

.sn-input-group2 .sn-input-group-label{
	background-color: #F0F0F0;
	color: #777;
}

/* 只保存血糖，不发表糖控控 */
.bloodSaveBtn{
  margin: 27px 15px 0 15px;
  text-align: center;
}

.bloodSaveBtn span{
  display: inline-block;
  /*padding: 0 15px;*/
 width: 100%;
 text-align: center;
  font-size: 15px;
  line-height: 2.8;
  border-radius: 4px;
  color: #777;
  background-color: #F0F0F0;
}

.bloodSaveBtn i{
  color: #888;
  font-size: 14px;
}


/* 底部空白区域 */
.bloodAddBlank{
	height: 30px;
}



/**
 * bloodPost.html 页面样式
 * @require /widget/base/base.css
 */


/* 页面内容容器*/
#bloodPostPageCont{
	background-color: #fff;
}

/* 页面内容区域 */
.bloodPostContent{
	
}

/* 页面内容容器 */
.bloodPostArea{
	padding: 13px 12px 0 12px;
	position: relative;
	
}

/* 输入区域容器 */
.bloodPostBox{
	
}

/* 文字输入框 */
.bloodPostText{
	display: block;
	width: 100%;
	height: 125px;
	font-size: 13px;
	padding-right: 80px;
	overflow: auto;  /* winphone8和android4+  解决手机上滚动卡顿效果*/
	-webkit-overflow-scrolling: touch;  /* ios5+ 解决手机上滚动卡顿效果*/
	/* 允许选中文本  */
    -webkit-user-select: text;
	user-select: text;
	-webkit-box-sizing: border-box;
    box-sizing: border-box
}

/* 添加图片按钮 */
.bloodPostPhoto-wrapper{
	position: absolute;
	right: 20px;
	top: 18px;
	width: 65px;
	height: 65px;
}

.bloodPostPhoto{
	position: relative;
    cursor: pointer;
	width: 65px;
	height: 65px;
	background: url(images/bloodPostPhoto.png) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
}

.bloodPostPhoto.load{
	background: url(images/loading.gif) no-repeat center center;
	border: 1px solid #e5e5e5;
	background-size: 35px 35px ;
}

.bloodPostPhoto input{
	position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    z-index: 99;
}

/* 相关数据区域 */
#bloodPostDataContent{
	margin-top: 13px;	
}

.bloodPostData{
	padding: 6px 9px 8px 8px;
	background-color: #f0f0f0;
}

.bloodPostData .ui-moodBV{
	margin-top: 7px;
	margin-right: 14px;
}

/* 血糖发布页面 */
.bloodPostArea .ui-moodRelated{
	margin-top: 6px;	
}

.bloodPostArea .ui-moodRelated li{
	margin-bottom: 2px;
}

.bloodPostArea .ui-moodRelated li p{
	position: relative;
	padding-bottom: 3px;
	margin-bottom: 3px;
}

.bloodPostArea .ui-moodRelated li:not(:last-child) p:after {
	position: absolute;
	z-index: 8;
	bottom: -1px;
	left: 0;
	content: '';
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #D8D6D6;
	-webkit-transform: scaleY(0.5);
}

.bloodPostArea .ui-moodRelated span.icon{
	/*height: 1.5em;*/
}



/* 屏幕适配调整样式区域  --------------*/

@media all and (min-width: 360px) {
	.bloodPostText{
		font-size: 14px;
	}
}

@media all and (max-width: 320px) {
	#bloodAdd_date{
		font-size: 13px;
	}
}
