/**
 * sem样式
 * @require /widget/base/base.css
 */

body{
	background-color: #FFFFFF;
}


.sem_body{
	width: 100%;
	max-width: 750px;
	height: 100%;
	margin: 0 auto;
	overflow: scroll;
}


/*banner图*/
.sem_banner{
	width: 100%;
	margin: 0 auto;
}

.sem_banner img{
	width: 100%;
	display: block;
}

/*标题*/
.sem_title{
	padding: 10px 0px;
}

.sem_title p{
	font-size: 16px;
	color: #484848;
	text-align: center;
	font-weight: 700;
}

/*文案*/
.sem_copy{
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #4e5c72;
	position: relative;
	margin-bottom: 10px;
}

.sem_copy h2{
	font-size: 16px;
	color: #FFFFFF;
	font-weight: normal;
}

@media screen and (max-width: 320px) {
	.sem_copy h2{
	font-size: 14px;
	}
}



.sem_copy h2 span{
	font-weight: bold;
}

/*三角*/
.sem_sjtop{
	width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

.sem_sjbot{
	width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4e5c72;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    margin: auto;
}


/*群组*/
.sem_group{
	padding: 0 12px;
	
}

.sem_group .flex1{
	display: inline-block;
	width: 100%;
	height: 100px;
	margin-right: 7px;
	margin-top: 7px;
	text-align: center;
	
}

.sem_group .flex1:last-child{
	margin-right: 0;
}

.sem_group .flex1 a{
	display: block;
	width: 100%;
	height: 100%;
}

.sem_group .flex1 a p{
	font-size: 16px;
	color: #FFFFFF;
	line-height: 100px;
}

.sem_group .flex1 a h2,.sem_group .flex1 a h3{
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	line-height: 150%;
}

.sem_group .flex1 a h2{
	padding-top: 28px;
}

.sem_colo_6d{
	background-color: #6d8aba;
}

.sem_colo_52{
	background-color: #52b0df;
}

.sem_colo_76{
	background-color: #76d2cb;
}

.sem_colo_54{
	background-color: #54bd55;
}

.sem_colo_e9{
	background-color: #e99a58;
}

.sem_colo_de{
	background-color: #de7271;
}


/*段落*/
.sem_para{
	text-align: center;
	color: #484848;
	padding: 20px 0;
}

.sem_para h2{
	font-size: 15px;
	
}

.sem_para p{
	font-size: 13px;
}

.sem_para b{
	font-size: 13px;
	display: block;
}

.sem_para b span{
	color: #0f88c5;
}

/*糖友们说*/
.sem_Sugfrs{
	background-color: #4e5c72;
	position: relative;
}


.sem_sugtitle{
	padding: 20px 0 5px 0;
}


.sem_sugtitle h2{
	font-size: 20PX;
	color: #FFFFFF;
	text-align: center;
	
}

.sem_Sugcont{
	padding: 10px 0;
	margin: 0 12px;
	border-bottom: 1px dashed #FFFFFF;
	position: relative;
	min-height: 60px;
}

.sem_Sugcont p{
	color: #FFFFFF;
	font-size: 12px;
	line-height: 150%;
	margin-left: 80px;
	text-align: justify;
}

.sem_Sugcont span{
	display: block;
	width: 58px;
	height: 58px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.sem_pic1{
	border: 2px solid #54bd55;
	background: url(../images/seoren.png)no-repeat center center;
	background-size: 100% 100%;
}

.sem_pic2{
	border: 2px solid #52b0df;
	background: url(../images/seope.png)no-repeat center center;
	background-size: 100% 100%;
}

.sem_pic3{
	border: 2px solid #ee974d;
	background: url(../images/seopl.png)no-repeat center center;
	background-size: 100% 100%;
}

.sem_pic4{
	border: 2px solid #de7271;
	background: url(../images/seopp.png)no-repeat center center;
	background-size: 100% 100%;
}

/*平台*/
.sem_plant{
	padding-top: 15px;
	text-align: center;
}

.sem_plant h2{
	font-size: 20px;
	color: #384253;
}

.sem_plant p{
	font-size: 13px;
	color: #454545;
}

/*格子*/
.sem_sixgrid{
	padding: 0 13px;
}

.sem_grid{
	color: #FFFFFF;
	margin-top: 13px;
}

.sem_grid .flex1{
	width: 100%;
	height: 170px;
	margin-right: 13px;
}

.sem_grid .flex1:last-child{
	margin-right: 0;
}

.sem_grid .flex1 img{
	display: block;
	width: 62px;
	height: 53px;
	margin: 0 auto;
	padding-top: 15px;
}

.sem_grid .flex1 h2{
	font-size: 14px;
	text-align: center;
	line-height: 250%;
}

.sem_grid .flex1 p{
	font-size: 12px;
	display: block;
	width: 87%;
	margin: 0 auto;
	line-height: 120%;
}

.sn_grid_co3f{
	background-color: #3f4a5d;
}

.sn_grid_co6d{
	background-color: #6d8aba;
}

/*线*/

.sem_tow{
	width: 100px;
	margin: 0 auto;
}

.sem_tow .sem_left,.sem_tow .sem_right{
	display: inline-block;
	width: 50%;
	height: 2px;
	margin: 24px 0 10px 0;
}

.sem_tow .sem_left{
	background-color: #c1292b;
}

.sem_tow .sem_right{
	background-color: #3e3e3e;
}


/*欢迎*/
.sem_welcome{
	text-align: center;
}

.sem_welcome p{
	font-size: 13px;
	color: #454545;
}

.sem_welcome a{
	font-size: 13px;
	color: #FFFFFF;
	display: block;
	width: 100px;
	height: 24px;
	line-height: 24px;
	margin: 8px auto;
	background-color: #c1292b;
	text-align: center;
	padding: 5px;
}



/*二维码*/
.sem_qr{
	position: relative;
	width: 100%;
	background-color: #FFFFFF;
	height: 178px;
	padding-top: 30px;
	line-height: 160%;
}

.sem_qr .sem_share{
	height: 125px;
	border: 6px solid #FFFFFF;
	position: absolute;
	left: 50%;
	margin-left: -137px;
	z-index: 9;
}

.sem_qr .sem_code{
	width: 125px;
	height: 150px;
	background-color: #454545;
	position: absolute;
	top:49px;
	right: 50%;
	margin-right: -137px;
	z-index: 10;
	color: #eae8e8;
	font-size: 14px;
	text-align: center;
	line-height: 200%;
}

.sem_qr .sem_code img{
	height: 100px;
	margin: 0 auto;
	padding-top: 13px;
	padding-bottom: 5px;
	display: block;
}

.sem_qr .sem_bggray{
	background-color: #2c3544;
	width: 100%;
	height: 110px;
	position: absolute;
	top: 100px;
	z-index: 8;
}


/*留下联系方式*/
.sem_contact{
	background-color: #2c3544;
	padding: 25px 0;
	padding-bottom: 80px;
}

.sem_contact h2{
	font-size: 25px;
	color: #cfcccc;
	line-height: 120%;
	text-align: center;
	line-height: 1.3;
}

.sem_mt{
	margin-bottom: 15px;
	
}

.sem_contact p{
	font-size: 17px;
	color: #cfcccc;
	text-align: center;
	line-height: 100%;
	padding-bottom: 8px;
}

.sem_putname,.sem_putnum{
	position: relative;
}


.sem_putname input,.sem_putnum input{
	display: block;
	height: 40px;
	width: 80%;
	font-size: 17px;
	color: #b5b4b4;
	border-radius: 4px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-indent: 70px;
}

.sem_putname span,.sem_putnum span{
	font-size: 17px;
	color: #5d5d5d;
	display: block;
	width: 60px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	left: 13%;
	top: 1px;
}

.sem_submit{
	width: 80%;
	height: 40px;
	background-color: #c1292b;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 20px;
}

.sem_submit a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 40px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
}


.sem_text{
	font-size: 16px;
	color: #FFFFFF;
	margin-top: 20px;
}


.bd-foot {
    height: 51px
}

.bd-foot ul {
    width: 100%;
    height: 51px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000
}

.bd-foot li {
    display: block;
    width: 100%;
    height: 51px;
    line-height: 51px;
    text-align: center;
    color: #FFF;
    text-indent: 32px;
    font-size: 17px
}

.bd-foot li:first-child {
    background: url(/template/cis_app/tkk/assets/zt/sem/images/seonav_03.jpg) no-repeat 21% center #a42426;
    background-size: 33px 26px;
    border-right: 1px solid #f15d62
}

.bd-foot li a {
    display: block;
    width: 100%;
    height: 100%
}

.bd_mask {
    position: fixed;
    width: 100%;
    height: 100%
}

.bd_mask_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5
}

.bd_mask_pic {
    width: 275px;
    height: 240px;
    border-radius: 4px;
    background: url(/template/cis_app/tkk/assets/zt/sem/images/seo_03.jpg)no-repeat center center;
    background-size: 100% 100%;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto
}

.bd_mask_pic a {
    position: absolute;
    font-size: 12px;
    color: #3e3e3e;
    text-decoration: underline;
    text-indent: 15px;
    bottom: 20px
}

.bd_mask_pic a span {
    font-weight: 700
}