<div class="ui-popup-box ui-popup-hide" id="actionSystem" style="display:none">
	<ul>
		<li><a href="javascript:FUNC.showBotPop2('actionSystem', 'actionSystem_confirm')">删除</a></li>
		<li><a href="javascript:FUNC.hideBotPop('actionSystem')">取消</a></li>
	</ul>
</div>

<div class="ui-popup-box ui-popup-show" id="actionSystem_confirm" style="display:none">
	<ul>
		<li class="ui-popup-tip">确定删除此条说说吗?</li>
		<li><a href="javascript:FUNC.confirmDelTkk()">确定</a></li>
		<li><a href="javascript:FUNC.hideBotPop('actionSystem_confirm')">取消</a></li>
	</ul>
</div>

<div class="ui-popup-box ui-popup-hide" id="actionEdit" style="display:none">
	<ul>
		<li><a href="javascript:FUNC.showBotPop2('actionEdit', 'actionEdit_confirm')">取消关注</a></li>
		<li><a href="javascript:FUNC.hideBotPop('actionEdit')">取消</a></li>
	</ul>
</div>

<div class="ui-popup-box ui-popup-show" id="actionEdit_confirm" style="display:none">
	<ul>
		<li class="ui-popup-tip">确定不再关注此人?</li>
		<li><a href="javascript:FUNC.confirmUnfollow()">确定</a></li>
		<li><a href="javascript:FUNC.hideBotPop('actionEdit_confirm')">取消</a></li>
	</ul>
</div>

<div class="ui-popup-box ui-popup-hide" id="actionCome" style="display:none">
	<ul>
		<li><a href="javascript:FUNC.showBotPop2('actionCome', 'actionCome_confirm')">删除</a></li>
		<li><a href="javascript:FUNC.hideBotPop('actionCome')">取消</a></li>
	</ul>
</div>

<div class="ui-popup-box ui-popup-show" id="actionCome_confirm" style="display:none">
	<ul>
		<li class="ui-popup-tip">确定删除此条评论?</li>
		<li><a href="javascript:FUNC.confirmDelCome()">确定</a></li>
		<li><a href="javascript:FUNC.hideBotPop('actionCome_confirm')">取消</a></li>
	</ul>
</div>

<div id="ui-popup-dark" class="ui-popup-dark" style="display: none;"></div>