.ui-popup-box {
	width: 100%;
	display: block;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 1010;
	background-color: #fff;
	font-size: 16px;
	text-align: center;
}

.ui-popup-box li a {
	display: block;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #e5e5e5;
	color: #000;
}

.ui-popup-tip{
	height: 45px;
	line-height: 45px;
	font-size: 14px;
	border-bottom: 1px solid #F3F3F3;
	color: #666;
}

.ui-popup-box li a:active {
	background: #f6f6f6
}

.ui-popup-box li:last-child {
	border-top: 8px solid #eee;
}

.ui-popup-show {
	-webkit-animation: bs .4s forwards;
	animation: bs .4s forwards;
}

.ui-popup-hide {
	-webkit-animation: bh .4s forwards;
	animation: bh .4s forwards;
}

.ui-popup-dark {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 1000;
	position: fixed;
	background: #000;
	opacity: 0.6;
}

.ui-popup-light {
	left: 0px;
	top: 0px;
	z-index: 1000;
	width: 100%;
	position: fixed;
	background: #000;
	opacity: 0.1;
}


/*bottomcut*/

@-webkit-keyframes bs {
	0% {
		bottom: -100%;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

@keyframes bs {
	0% {
		bottom: -100%;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}

@-webkit-keyframes bh {
	0% {
		bottom: 0;
	}
	to {
		bottom: -100%;
	}
}

@keyframes bh {
	0% {
		bottom: 0;
	}
	to {
		bottom: -100%;
	}
}