<div class="footerarea">
	<a href="home.php?mod=space&amp;do=notice&amp;mobile=2" class="imui_notice po_fi tc cf" tab="notice"><h4></h4><p class="size_14">+2</p></a>
	
	<a href="home.php?mod=space&amp;do=notice&amp;mobile=2" class="imui_task po_fi tc cf"><h4></h4><p>任务</p></a>

	<footer class="imui_footer b_l bo_t po_fi">
		<!--<a href="forum.php?mod=guide&amp;view=hot&amp;mobile=2" class="imui_icon_index tc cc" tab="guide"><span></span><br>首页</a>-->
		<a href="index.html" class="imui_icon_index tc" ><span></span><br>首页</a>
		<a href="forum.php?forumlist=1&amp;mobile=2" class="imui_icon_bbs tc" tab="discuz"><span></span><br>糖友圈</a>
		<a href="javascript:void(0)" class="showpage imui_icon_post po_fi b_c cf" id="qbt_add" type="getpage"></a>

		<!--<a href="group.php?mod=index&amp;mobile=2" class="gettab imui_icon_group tc" tab="group_index"><span></span><br>圈子</a>
		<a href="home.php?mod=space&amp;do=home&amp;view=all&amp;mobile=2" class="gettab imui_icon_my tc" tab="space_home"><span></span><br>朋友圈</a>-->

		<!--<a href="/home.php?mod=space&amp;uid=14136&amp;do=profile&amp;mycenter=1&amp;mobile=2" class="imui_icon_self tc"><span></span><br>我的</a>-->
		<a href="/zt/shop/index.html" class="imui_icon_shop tc"><span></span><br>商城</a>
		<a href="find.html" class="imui_icon_find tc"><span></span><br>发现</a>
		<!--<a href="/portal.php?mod=news&amp;mobile=2" class="imui_icon_lab tc"><span></span><br>知识库</a>-->
	</footer>

	<div class="imui_footer_m po_fi b_l"></div>
</div>

<div id="qbt_dark" class="qbt_dark"><a href="javascript:void(0)" class="block">&nbsp;</a></div>

<div class="qbt_btn blood">
	<a href="../html/blood_add.html" id="qbt_btn_record">
		<span>&nbsp;</span>
		<p>记录血糖</p>
	</a>
</div>
<div class="qbt_btn forum" id="qbt_btn_forum">
	<a href="javascript:void(0)" class="block">
		<span>&nbsp;</span>
		<p>发表帖子</p>
	</a>
</div>

<div id="qbt_post" class="qbt-popup qbt-popup-hide" style="display: none;">
	<ul>
		<li class="qbt-popup-tip">请选择想要发帖的版块</li>
		<li>
			<dl>
				<dd>
					<a href="forum.php?mod=forumdisplay&amp;fid=327&amp;mobile=2&amp;sbc=post">医患问答</a>
					<a href="forum.php?mod=forumdisplay&amp;fid=329&amp;mobile=2&amp;sbc=post">一型糖尿病</a>
				</dd>
				<dd>
					<a href="forum.php?mod=forumdisplay&amp;fid=330&amp;mobile=2&amp;sbc=post">二型糖尿病</a>
					<a href="forum.php?mod=forumdisplay&amp;fid=342&amp;mobile=2&amp;sbc=post">妊娠糖尿病</a>
				</dd>
				<dd>
					<a href="forum.php?mod=forumdisplay&amp;fid=332&amp;mobile=2&amp;sbc=post">胰岛素泵</a>
					<a href="forum.php?mod=forumdisplay&amp;fid=328&amp;mobile=2&amp;sbc=post">饮食营养</a>
				</dd>
				<dd>
					<a href="forum.php?mod=forumdisplay&amp;fid=331&amp;mobile=2&amp;sbc=post">运动达人</a>
					<a href="forum.php?mod=forumdisplay&amp;fid=338&amp;mobile=2&amp;sbc=post">心情驿站</a>
				</dd>
			</dl>
		</li>
		<li><a href="javascript:void(0)" class="cancel" id="qbt_post_cancel">取消</a></li>
	</ul>
</div>

<!--<div class="wxcodeBack" style="display: none;">&nbsp;</div>
<div class="wxcode" style="display: none;">
	<div class="wxcode-inner">
		<div class="wxcode-box">
			<button class="wxcodeClose"></button>
			<span class="title">糖帮帮</span>
			<div class="wxcode-photo"><img src="/template/cis_app/tkk/assets/dz/wxcode.jpg" alt="" /></div>
			<span class="intro">长按二维码，识别关注公众号<br/>点击公众号菜单即可登录</span>
		</div>
	</div>
</div>-->

<!--<div class="wxcodeBack">&nbsp;</div>
<div class="wxcode">
	<div class="wxcode-inner">
		<div class="wxcode-box" style="background-color: #fff;"> 
			<button class="wxcodeClose"></button> 
			<span class="title">登录糖帮帮</span> 
			<span class="intro" style="border-top: 1px #eee solid; border-bottom: 1px #eee solid; padding: 12px 18px; text-align: left; font-size: 15px; line-height: 1.8;">
				1. 打开手机微信 <br />
				2. 搜索并关注公众号：<b>糖帮帮</b> <br />
				4. 点击公众号菜单即可登录
			</span> 
			<a href="" style="display: block; line-height: 45px; font-size: 14px; color: #888;">点此可查看详细教程 <b style="font-family:georgia; font-weight: normal;">&gt;&gt;</b></a>
		</div>
	</div>
</div>-->