<div class="imui_side b_f" onclick="openside();">
	<div class="side_user size_14 cf cl">
		<a href="home.php?mod=space&amp;uid=0&amp;do=profile&amp;mycenter=1&amp;mobile=2" class="gettab" tab="space_profile"><img src="http://bbs.tangbangbang.cn/uc_server/avatar.php?uid=0&amp;size=middle"></a>
		<h3 class="size_16">游客</h3>
		<p><a href="member.php?mod=logging&amp;action=login&amp;mobile=2" class="showpage" id="member" type="getpage">登录</a></p>
	</div>
	<div class="side_nv size_16">
		<ul id="sidearea">
            <li><a href="/tkk.php?mod=index" class="bo_bl" tab="guide"><h4><em class="side_icon_index"></em>首页</h4><p class="size_12 cg">Index</p></a></li>
            <li><a href="/forum.php?forumlist=1&amp;mobile=2" class="bo_bl" tab="discuz"><h4><em class="side_icon_bbs"></em>糖友圈</h4><p class="size_12 cg">BBS</p></a></li>
            <li><a href="/tkk.php?mod=find" class="bo_bl" tab="guide"><h4><em class="side_icon_find"></em>发现</h4><p class="size_12 cg">Find</p></a></li>
            <li><a href="/zt/shop/index.html" class="bo_bl" tab="guide"><h4><em class="side_icon_shop"></em>商城</h4><p class="size_12 cg">Shop</p></a></li>
            <li><a href="/home.php?mod=space&amp;uid=1&amp;do=profile&amp;mycenter=1&amp;mobile=2" class="bo_bl" tab="space_home"><h4><em class="side_icon_space"></em>我的</h4><p class="size_12 cg">Profile</p></a></li>
        </ul>
	</div>
</div>

<div class="imui_sidebg" onclick="openside();"></div>