/*--------------------icon--------------------*/

@font-face {
  font-family: 'ElegantIcons';
  src: url('fonts/ElegantIcons.eot');
  src: url('fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'), url('fonts/ElegantIcons.woff') format('woff'), url('fonts/ElegantIcons.ttf') format('truetype'), url('fonts/ElegantIcons.svg#ElegantIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.svg {
  font-family: "ElegantIcons";
  vertical-align: middle;
}


/*--------------------comm--------------------*/

* {
  word-wrap: break-word;
  word-break: break-all;
  -webkit-user-select: none;
  user-select: none;
}

ul,
ol,
li,
span,
p,
form,
h1,
h2,
h3,
4,
h5,
h6,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  border: 0;
  z-index: inherit;
}

img,
a img {
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-block
}

ul,
ol,
li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font: 12px/1.6 Microsoft YaHei, Helvetica, sans-serif;
  color: #333;
  -webkit-tap-highlight-color: transparent;
}

input,
select,
textarea,
button {
  font: 14px/1.8 Microsoft YaHei, Helvetica, sans-serif;
  -webkit-user-select: auto;
}

body,
ul,
ol,
li,
dl,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
.pr,
.pc {
  margin: 0;
  padding: 0;
}

table {
  empty-cells: show;
  border-collapse: collapse;
}

caption,
th {
  text-align: left;
  font-weight: 400;
}

em,
cite,
i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #333;
}

a img {
  border: none;
}

label {
  cursor: pointer;
}

html {
  overflow-x: hidden
}

#site_title {
  display: none;
}

.vl {
  vertical-align: middle;
}

.flex_box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.flex_2 {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}

.flex_3 {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
}

.shadow {
  -webkit-box-shadow: 0 2px 3px #ccc;
  -moz-box-shadow: 0 2px 3px #ccc;
  box-shadow: 0 2px 3px #ccc;
}

.oblique {
  font-style: italic;
}

.block_a {
  display: block
}


/*imui_topbox*/

.imui_topbox ul {
  border: 1px solid #f65d5b;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.imui_topbox li {
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #f65d5b
}

.imui_topbox li a {
  display: block;
  text-align: center;
}

.imui_topbox ul li.b_c:first-child {
  -moz-border-radius: 18px 0 0 18px;
  -webkit-border-radius: 18px 0 0 18px;
  border-radius: 18px 0 0 18px;
}

.imui_topbox ul li.b_c:last-child {
  -moz-border-radius: 0 18px 18px 0;
  -webkit-border-radius: 0 18px 18px 0;
  border-radius: 0 18px 18px 0;
}

.imui_topbox ul li:last-child {
  border-right: 0px;
}


/*block*/

.imui_box {
  margin-top: 10px;
}

.imui_box h3 {
  margin: 0 10px;
  height: 36px;
  line-height: 36px;
  font-weight: 400;
  font-size: 14px
}

.imui_box h3 span:before {
  padding-right: 5px;
  font-family: "ElegantIcons";
}


/*--------------------body--------------------*/

body {
  background: #eee;
}

.bodyarea,
.boxarea {
  height: 100%;
}


/**.wrap { overflow-x:hidden; }*/

.main_hide {
  display: none;
}

.body_main {
  padding: 50px 0 50px 0;
  position: relative;
  width: 100%;
  height: -moz-calc(100% - 100px);
  height: -webkit-calc(100% - 100px);
  height: calc(100% - 100px);
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  -webkit-animation: cut-in .4s forwards;
  animation: cut-in .4s forwards;
}


/**/

.body_0 {
  padding: 50px 0 0 0;
  height: -moz-calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  height: calc(100% - 50px);
}

.body_np {
  padding: 0px;
  height: 100%;
}

.box {
  padding: 50px 0 0 0;
  position: relative;
  width: 100%;
  height: -moz-calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  height: calc(100% - 50px);
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  -webkit-animation: cut-in .4s forwards;
  animation: cut-in .4s forwards;
}

.box_header {
  left: 0px;
  top: 0px;
  padding: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1020;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}

.imui_scrolly {
  overflow: hidden;
}

.imui_scrolly_area {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  padding-right: 10px;
}

.imui_scrollx {
  overflow: hidden;
}

.imui_scrollx_area {
  padding-bottom: 10px;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.imui_scrollx_area ul {
  position: absolute;
  left: 0;
  white-space: nowrap;
}

.imui_scrollx_area ul li {
  display: inline-block;
  verflow: hidden;
}

.imui_scrollx_area ul li a {
  display: block;
}


/*--------------------mod--------------------*/

.find_user {
  background: url(space.jpg) no-repeat 0 0;
  height: 140px;
  position: relative;
}

.autopbn {
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 10px 10px 30px 10px;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.autopbn:active {
  background: #fff;
  color: #333
}

.imui_notice, .imui_task {
  bottom: 125px;
  width: 52px;
  height: 52px;
  border: 4px solid #fff;
  right: 8px;
  z-index: 200;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  filter: alpha(opacity=50);
}

.imui_task{
  bottom: 60px;
}

.imui_notice h4 {
  height: 28px;
}

.imui_notice h4:before {
  font-family: "ElegantIcons";
  content: '\e076';
  font-size: 22px;
}

.imui_task h4{
  height: 32px;
}

.imui_task p{
  font-size: 11px;
}

.imui_task h4:before {
  display: inline-block;
  width: 26px;
  height: 30px;
  content: '';
  background: url(task-icon.png) center 5px no-repeat;
  background-size: 26px auto;
}

/*--------------------form--------------------*/


/*input*/

.imui_input {
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  height: 1.4em;
  line-height: 1.4;
}

.imui_input::-webkit-outer-spin-button,
.imui_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.imui_input:disabled {
  color: #ccc
}


/*select*/

.imui_select {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
  font-size: inherit;
  height: 44px;
  position: relative;
  z-index: 1;
  padding-left: 12px;
}

.imui_block_select .imui_select {
  padding-right: 30px;
}

.imui_select_before .imui_select {
  width: auto;
}


/*check*/

.imui_check {
  position: absolute;
  left: -9999em;
}


/*textarea*/

.imui_textarea {
  display: block;
  border: 0;
  resize: none;
  width: 100%;
  color: inherit;
  font-size: 1em;
  line-height: inherit;
  outline: 0;
}

.imui_textarea:disabled {
  background: none;
  color: #ccc
}

.autoheight {
  min-height: 66px;
}


/*--------------------blocks--------------------*/


/*title*/

.imui_blocks_title {
  margin-top: .77em;
  margin-bottom: .3em;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

.imui_blocks_title+ .imui_blocks {
  margin-top: 0;
}

.imui_blocks_title em.cc {
  padding-left: 5px;
}

.imui_blocks_title a {
  float: right
}


/*blocks*/

.imui_blocks {
  margin-top: 1.2em;
  line-height: 1.4;
  overflow: hidden;
  position: relative;
}

.imui_blocks:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #ccc;
  color: #ccc;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.imui_blocks:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #ccc;
  color: #ccc;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}


/*block*/

.imui_block {
  padding: 10px 15px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.imui_block:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #ddd;
  color: #ccc;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  left: 15px;
}

.imui_block:first-child:before {
  display: none;
}


/*label*/

.imui_check_label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*vocde*/

.imui_vcode {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.imui_vcode .imui_block_ft img {
  margin: 5px;
  height: 34px;
  vertical-align: middle;
}


/*block_area*/

.imui_block_hd {
  padding-right: 0.3em;
  vertical-align: text-top
}

.imui_block_hd em.cc {
  padding-left: 5px;
}

.imui_block_bd {}

.imui_block_ft {
  text-align: right;
}


/*block_select*/

.imui_block_select {
  padding: 0;
}

.imui_block_select .imui_block_bd:after {
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
}

.imui_select_after {
  padding-left: 15px;
}

.imui_select_before {
  padding-right: 15px;
}

.imui_select_before .imui_block_hd {
  position: relative;
}

.imui_select_before .imui_block_hd:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  border-right: 1px solid #ddd;
  color: #ccc;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
}

.imui_select_before .imui_block_hd:before {
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #ccc;
  border-style: solid;
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
}

.imui_select_before .imui_block_bd {
  padding-left: 15px;
}

.imui_select_before .imui_block_bd:after {
  display: none;
}


/*radio*/

.imui_blocks_radio .imui_block_bd i {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.imui_blocks_radio .imui_block_bd img,
.imui_blocks_radio .imui_block_hd img {
  height: 30px;
  vertical-align: middle;
}

.imui_blocks_radio .imui_block_ft {
  padding-left: 0.35em;
}

.imui_blocks_radio .imui_block:active {
  background-color: #f6f6f6;
}

.imui_blocks_radio .imui_check:checked+ .imui_icon_checked:before {
  display: block;
  font-family: "ElegantIcons";
  content: '\4e';
  color: #f65d5b;
  font-size: 16px;
}


/*checkbox*/

.imui_blocks_checkbox .imui_block_hd {
  padding-right: 0.35em;
}

.imui_blocks_checkbox .imui_block:active {
  background-color: #f6f6f6;
}

.imui_blocks_checkbox .imui_icon_checked:before {
  font-family: "ElegantIcons";
  content: '\56';
  color: #ccc;
  display: block;
}

.imui_blocks_checkbox .imui_check:checked+ .imui_icon_checked:before {
  font-family: "ElegantIcons";
  content: '\5a';
  color: #f65d5b;
}


/*switch*/

.imui_block_switch {
  padding-top: 8px;
  padding-bottom: 8px;
}

.imui_switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 52px;
  height: 26px;
  border: 1px solid #ddd;
  outline: 0;
  border-radius: 16px;
  box-sizing: border-box;
  background: #eee;
}

.imui_switch:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 24px;
  border-radius: 12px;
  background-color: #f6f6f6;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.imui_switch:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.imui_switch:checked {
  border-color: #f65d5b;
  background-color: #f65d5b;
}

.imui_switch:checked:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

.imui_switch:checked:after {
  -webkit-transform: translateX(28px);
  transform: translateX(28px);
}


/*access*/

.imui_blocks_access .imui_block:not(.no_access) {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.imui_blocks_access .imui_block:not(.no_access):active {
  background-color: #f6f6f6;
}

.imui_blocks_access a.imui_block {
  color: inherit;
}

.imui_blocks_access .imui_block_ft:after {
  content: " ";
  display: inline-block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  position: relative;
  top: -2px;
  top: -1px;
  margin-left: .3em;
}

.imui_blocks_access .imui_block_hd img {
  width: 28px;
  height: 28px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  vertical-align: middle
}

.imui_blocks_access .imui_block_hd span:after {
  font-family: "ElegantIcons";
  font-size: 18px;
  padding-right: 5px;
}

.imui_blocks_access .imui_block_ft img {
  width: 30px;
  height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-left: 5px;
}

.imui_blocks_access .imui_block_ft em {
  font-size: 12px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 1px 5px;
}


/*upfile*/

.imui_block_upfile .imui_block_hd {
  height: 30px;
  overflow: hidden;
  padding-right: 10px;
}

.imui_block_upfile .imui_block_hd img {
  width: 30px;
  height: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.imui_block_upfile .imui_block_ft {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden
}

.imui_block_upfile .imui_block_ft input {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 20;
  opacity: 0;
}

.imui_block_upfile .imui_block_ft:after {
  content: '\e005';
  z-index: 10;
  font-family: "ElegantIcons";
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 24px
}


/*block_error*/

.cc .imui_block_ft span {
  display: none
}

.cc .imui_block_ft:before {
  font-family: "ElegantIcons";
  content: '\e061';
}

.imui_block_upfile.cc .imui_block_ft:after,
.imui_blocks_access .cc .imui_block_ft:after {
  display: none
}

.imui_block_select.cc .imui_block_bd:after {
  display: none
}

.imui_block_select.cc .imui_block_ft:before {
  padding-right: 15px;
}


/*--------------------tip--------------------*/

.tip {
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.tip dt {
  padding: 15px;
  font-size: 16px;
  line-height: 2.0;
}

.tip dd a,
.tip dd button {
  display: block;
  text-align: center;
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  border: 0px;
  background: none
}

.tip dd a.bo_r,
.tip dd button.bo_r {
  border-right: 1px solid #ddd;
}


/*--------------------search--------------------*/

.imui_search_bar {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  line-height: 28px;
}

.imui_search_input {
  z-index: 1;
  width: 100%;
  height: 28px;
  border: 0px;
}

.imui_search_text {
  z-index: 2;
  top: 10px;
  right: 10px;
  bottom: 8px;
  left: 10px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.imui_search_text i:before {
  font-family: "ElegantIcons";
  content: '\55';
  padding-right: 5px
}

.imui_search_ico:before {
  margin-left: 10px;
  font-family: "ElegantIcons";
  content: '\55';
  padding-right: 5px;
}

.searchtable {
  width: 100%;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.searchtable .cancel {
  width: 42px;
}

.searchtable .icon {
  width: 30px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  height: 28px;
  overflow: hidden
}

.searchtable .searchmain {
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  height: 28px;
  overflow: hidden
}


/*--------------------btn--------------------*/

.imui_btn {
  -webkit-appearance: none;
  margin: 0;
}


/*big*/

.imui_btn+ .imui_btn {
  margin-top: 15px;
}

.imui_btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  line-height: 2.33333333;
  border-radius: 5px;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  border: 0px;
  width: 100%;
}

.imui_btn:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #ccc;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 10px;
}

.imui_btn.cg {
  color: rgba(255, 255, 255, 0.4);
}

.imui_btn.b_c:not(.cg):active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #ac493d;
}

.imui_btn.b_w:not(.cg):active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #22b8ea;
}

.imui_btn.b_l:not(.cg):active {
  color: rgba(0, 0, 0, 0.4);
  background-color: #eee;
}

.imui_btn.b_l.cg {
  color: rgba(0, 0, 0, 0.4);
}


/*mid*/

.imui_btn_mid {
  padding: 10px 0;
  width: 60%;
  margin: 0 auto;
  text-align: justify;
  text-justify: distribute-all-lines;
  font-size: 0;
}

.imui_btn_mid .cm {
  border: 1px solid #666;
}

button.cm,
input.cm {
  border-width: 1px;
  background-color: transparent;
}

.imui_btn_mid .cc {
  border: 1px solid #f65d5b;
}

button.cc,
input.cc {
  border-width: 1px;
  background-color: transparent;
}

.imui_btn_mid .cc:active {
  border-color: #ac493d;
}


/*mini*/

.imui_btn.imui_btn_mini {
  line-height: 30px;
  font-size: 14px;
  padding: 0 10px;
  display: inline-block;
}

.imui_btn_mini {
  width: auto;
}

.imui_btn_mini+ .imui_btn_mini {
  margin-top: 0px;
}


/*--------------------slider--------------------*/


/*sliders*/

.sliders {
  margin: auto;
  position: relative;
  overflow: hidden;
}

.sliders .sliderbox li {
  position: relative;
  overflow: hidden;
}

.sliders,
.sliders .sliderbox,
.sliders .sliderbox li,
.sliders .sliderbox li img {
  width: 100%;
  display: block
}

.sliders .sliderbox li a {
  display: block;
}

.sliders .title {
  width: 100%;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding: 5px 0px;
  text-align: center;
  text-indent: 10px;
  margin-top: -50px;
  position: relative;
  z-index: 1;
  background: #000;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  filter: alpha(opacity=30);
}

.sliders .point {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.sliders .point em {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0px 2px;
  background: #999;
  text-indent: -9999px;
  border-radius: 6px;
  overflow: hidden;
}

.sliders .point em.on {
  background: #fff;
}

.sliders a#prev,
.sliders a#next {
  display: none;
  height: 34px;
  width: 34px;
  text-decoration: none;
  position: absolute;
  top: 65px;
  z-index: 1;
}

.sliders a#prev {
  left: 0px;
}

.sliders a#next {
  right: 0px;
}

.sliders a#prev:after,
.sliders a#next:after {
  content: '';
  top: 37%;
  position: absolute;
  width: 10px;
  height: 10px;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
}

.sliders a#prev:after {
  left: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.sliders a#next:after {
  right: 15px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/*--------------------header--------------------*/

.imui_header {
  left: 0px;
  top: 0px;
  padding: 0;
  width: 100%;
  overflow: hidden;
  z-index: 900;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
}

.imui_hm,
.imui_bhm {
  font-size: 18px;
  display: inline-block;
  -webkit-animation: a .4s forwards;
  animation: a .4s forwards;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
}

.imui_logo {
  display: block;
  height: 50px;
}

.imui_logo img {
  height: 50px;
}

.imui_user {
  display: block;
  height: 50px;
  text-align: center;
  width: 50px;
}

.imui_user img {
  height: 30px;
  width: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-top: 10px;
}

.imui_hr,
.imui_bhr {
  line-height: 50px;
  overflow: hidden;
  padding-right: 10px;
}

.imui_hr a,
.imui_bhr a {
  display: block;
  height: 50px;
  line-height: 50px;
}

.imui_fhl {
  float: left;
  width: 25%;
}

.imui_fhr {
  float: left;
  width: 25%;
  padding-right: 0px;
}

.imui_fhm {
  float: left;
  width: 50%;
}

.imui_shl {
  float: left;
  width: 16%;
}

.imui_shr {
  float: left;
  width: 16%;
  padding-right: 0px;
}

.imui_shm {
  float: left;
  width: 68%;
}

.imui_icon_back {
  display: block;
  height: 50px;
  overflow: hidden;
}

.imui_icon_back:before {
  width: 50px;
  text-align: center;
  font-family: "ElegantIcons";
  content: '\34';
  display: block;
  font-size: 32px;
}

.imui_icon_user:before {
  font-family: "ElegantIcons";
  content: '\e08a';
  font-size: 18px;
  padding: 0 10px;
}

.imui_icon_login:before {
  font-family: "ElegantIcons";
  content: '\e000';
  font-size: 18px;
  padding: 0 10px;
}

.imui_icon_search:before {
  font-family: "ElegantIcons";
  content: '\55';
  font-size: 18px;
  padding: 0 10px;
}

.imui_icon_more:after {
  font-family: "ElegantIcons";
  content: '\3b';
  font-size: 18px;
  padding: 0 10px;
}

.imui_icon_flickr:before {
  font-family: "ElegantIcons";
  content: '\e0a6';
  font-size: 18px;
  padding: 0 10px;
}

.imui_icon_side:before {
  font-family: "ElegantIcons";
  content: '\61';
  font-size: 32px;
  padding: 0 10px;
}

.imui_icon_message:before {
  font-family: "ElegantIcons";
  content: '\E010';
  font-size: 22px;
  padding-right: 16px;
  line-height: 45px;
  color: #f2f2f2;
}


.imui_icon_reply:before {
  font-family: "ElegantIcons";
  content: '\76';
  font-size: 18px;
  padding: 0 10px;
}

.imui_icon_creat:before {
  font-family: "ElegantIcons";
  content: '\e035';
  font-size: 18px;
  padding: 0 10px;
}

.imui_icon_edit:before {
  font-family: "ElegantIcons";
  content: '\006C';
  font-size: 18px;
  padding: 0 10px;
}

html.openside .imui_icon_side:before {
  font-family: "ElegantIcons";
  content: '\39';
  font-size: 32px;
  padding: 0 10px;
}


/*--------------------num--------------------*/


/*--------------------nav--------------------*/

.header_nv {
  padding: 8px 10px;
  height: 34px;
}

.header_nv ul {
  border: 1px solid #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 32px;
  line-height: 32px;
  font-size: 16px
}

.header_nv ul li:first-child {
  border-right: 1px solid #fff;
}

.header_nv ul li.a {
  background: #fff;
}

.header_nv ul li.a a {
  color: #ea5b56
}

.header_nv ul li.a:first-child {
  /* -moz-border-radius:8px 0 0 8px; -webkit-border-radius:8px 0 0 8px; border-radius:8px 0 0 8px;*/
}

.header_nv ul li.a:last-child {
  /* -moz-border-radius:0 8px 8px 0; -webkit-border-radius:0 8px 8px 0;; border-radius:0 8px 8px 0;*/
}

.imui_nv {
  line-height: 44px;
  box-sizing: border-box;
}

.imui_nv li a {
  display: block;
  text-align: center;
  border-bottom: 2px solid #fff
}

.imui_nv li a:before {
  font-family: "ElegantIcons";
  padding-right: 6px;
}

.imui_nv li.a a {
  border-bottom: 2px solid #ea5b56
}

.imui_nv li a span {
  margin-left: 5px;
  -moz-border-radius: 10px;
  padding: 0 5px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font-size: 12px
}


/*threadtypes*/

.threadtypes {
  height: 50px;
}

.threadtypes .imui_scrollx_area {
  height: 50px;
}

.threadtypes ul {
  padding: 10px;
}

.threadtypes li {
  padding-left: 10px;
}

.threadtypes li a span {
  font-size: 12px;
  padding-left: 5px;
  color: #ccc
}

.threadtypes li a.b_c {
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 0 10px;
}

.threadtypes li a.b_c span {
  color: #fff
}


/*threadsort*/

.threadsort {
  height: 45px;
}

.threadsort .imui_scrollx_area {
  height: 45px;
}

.threadsort ul {}

.threadsort ul li {
  height: 45px;
  line-height: 40px;
  padding: 0 10px;
}

.threadsort ul li span:before {
  font-family: "ElegantIcons";
  content: '\33';
  font-size: 18px;
}

.threadsort ul li em:before {
  font-family: "ElegantIcons";
  content: '\4d';
  font-size: 18px;
}

.threadsort ul li.cc {}

.threadsort ul li.cc span:before {
  content: '\32';
}


/*--------------------footer--------------------*/

.imui_footer {
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 200;
  height: 50px;
}

.imui_footer_m {
  width: 60px;
  height: 60px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #ccc;
  z-index: 199;
  bottom: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  left: 42%;
  left: -moz-calc(50% - 31px);
  left: -webkit-calc(50% - 31px);
  left: calc(50% - 31px);
}

.imui_icon_index {
  float: left;
  width: 20%;
  font-size: 14px;
  padding-top: 6px;
  line-height: 16px;
}

.imui_icon_tkk {
  float: left;
  width: 20%;
  font-size: 14px;
  padding-top: 6px;
  line-height: 16px;
}

.imui_icon_bbs {
  float: left;
  width: 20%;
  font-size: 14px;
  padding-top: 6px;
  line-height: 16px;
}

.imui_icon_group {
  float: right;
  width: 20%;
  font-size: 14px;
  padding-top: 6px;
  line-height: 16px;
}

.imui_icon_my {
  float: right;
  width: 20%;
  font-size: 14px;
  padding-top: 6px;
  line-height: 16px;
}

.imui_icon_lab {
  float: right;
  width: 20%;
  font-size: 14px;
  padding-top: 6px;
  line-height: 16px;
}

.imui_icon_self {
  float: right;
  width: 20%;
  font-size: 14px;
  padding-top: 6px;
  line-height: 16px;
}

.imui_icon_find {
  float: right;
  width: 20%;
  font-size: 14px;
  padding-top: 6px;
  line-height: 16px;
}

.imui_icon_shop {
  float: right;
  width: 20%;
  font-size: 14px;
  padding-top: 6px;
  line-height: 16px;
}

.imui_icon_post {
  width: 45px;
  height: 45px;
  border: 8px solid #f6f6f6;
  bottom: 0px;
  left: 42%;
  left: -moz-calc(50% - 30px);
  left: -webkit-calc(50% - 30px);
  left: calc(50% - 30px);
  z-index: 201;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  font-size: 34px;
  line-height: 45px;
  text-align: center;
  font-weight: 900;
}

.imui_icon_tkk:before {
  font-family: "ElegantIcons";
  content: '\E031';
  font-size: 20px;
  line-height: 20px;
}

.imui_icon_post:before {
  font-family: "ElegantIcons";
  content: '\004C';
}

.imui_icon_index span:before {
  font-family: "ElegantIcons";
  content: '\E009';
  font-size: 21px;
  line-height: 20px;
}

.imui_icon_bbs span:before {
  font-family: "ElegantIcons";
  content: '\E0A4';
  font-size: 20px;
  line-height: 20px;
}

.imui_icon_group span:before {
  font-family: "ElegantIcons";
  content: '\e028';
  font-size: 20px;
  line-height: 20px;
}

.imui_icon_my span:before {
  font-family: "ElegantIcons";
  content: '\e08b';
  font-size: 20px;
  line-height: 20px;
}

.imui_icon_lab span:before {
  font-family: "ElegantIcons";
  content: '\0069';
  font-size: 20px;
  line-height: 20px;
}

.imui_icon_self span:before {
  font-family: "ElegantIcons";
  content: '\E08A';
  font-size: 20px;
  line-height: 20px;
}

.imui_icon_find span:before {
  font-family: "ElegantIcons";
  content: '\E01C';
  font-size: 20px;
  line-height: 20px;
}

.imui_icon_shop span:before {
  font-family: "ElegantIcons";
  content: '\E008';
  font-size: 20px;
  line-height: 20px;
}


/*--------------------Side nv--------------------*/

.openside .body_main {
  left: -200px;
  -webkit-animation: open .4s forwards;
  animation: open .4s forwards;
}

.openside .imui_header,
.openside .imui_footer {
  left: -200px;
  -webkit-animation: open .4s forwards;
  animation: open .4s forwards;
}

.openside .imui_footer_m {
  left: -moz-calc(50% - 231px);
  left: -webkit-calc(50% - 231px);
  left: calc(50% - 231px);
  -webkit-animation: o31 .4s forwards;
  animation: o31 .4s forwards;
}

.openside .imui_icon_post {
  left: -moz-calc(50% - 230px);
  left: -webkit-calc(50% - 230px);
  left: calc(50% - 230px);
  -webkit-animation: o30 .4s forwards;
  animation: o30 .4s forwards;
}

.closeside .body_main {
  left: 0px;
  -webkit-animation: close .4s forwards;
  animation: close .4s forwards;
}

.closeside .imui_header,
.closeside .imui_footer {
  left: 0px;
  -webkit-animation: close .4s forwards;
  animation: close .4s forwards;
}

.closeside .imui_footer_m {
  left: -moz-calc(50% - 31px);
  left: -webkit-calc(50% - 31px);
  left: calc(50% - 31px);
  -webkit-animation: c31 .4s forwards;
  animation: c31 .4s forwards;
}

.closeside .imui_icon_post {
  left: -moz-calc(50% - 30px);
  left: -webkit-calc(50% - 30px);
  left: calc(50% - 30px);
  -webkit-animation: c30 .4s forwards;
  animation: c30 .4s forwards;
}

.imui_side {
  width: 200px;
  height: 100%;
  position: fixed;
  right: -200px;
  top: 0px;
  z-index: 800;
}

.openside .imui_side {
  right: 0px;
  -webkit-animation: oside .4s forwards;
  animation: oside .4s forwards;
  opacity: 1;
  -webkit-box-shadow: 0 0 5px #666;
  -moz-box-shadow: 0 0 5px #666;
  box-shadow: 0 0 5px #666;
}

.closeside .imui_side {
  right: -200px;
  -webkit-animation: cside .4s forwards;
  animation: cside .4s forwards;
}

.openside .imui_sidebg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 50px;
  z-index: 700;
  background: #000;
  opacity: 0.6;
}

.imui_side .side_user {
  padding: 20px;
  height: 60px;
  background: url(bg.jpg) no-repeat 0 0;
  background-size: cover;
}

.imui_side .side_user img {
  width: 60px;
  height: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  float: left;
  margin-right: 12px;
}

.imui_side .side_user h3 {
  font-weight: 400;
  padding-top: 5px;
}

.imui_side .side_user p {
  font-size: 14px;
}

.imui_side .side_user p a {
  padding-right: 5px;
}

.imui_side .side_nv {}

.imui_side .side_nv li a {
  display: block;
  padding: 10px 20px;
}

.imui_side .side_nv li h4 {
  font-weight: 400;
  height: 24px;
  line-height: 24px;
}

.imui_side .side_nv li p {
  height: 18px;
  line-height: 18px;
  padding-left: 28px;
}

.imui_side .side_nv li a:active {
  background: #f6f6f6;
}

.imui_side .side_nv li em:before {
  font-family: "ElegantIcons";
  font-size: 18px;
  padding-right: 10px;
}

.side_icon_index:before {
  content: '\E009';
}

.side_icon_bbs:before {
  content: '\E0A4';
}

.side_icon_group:before {
  content: '\e028';
}

.side_icon_space:before {
  content: '\E08A';
}

.side_icon_find:before {
  content: '\E01C';
}

.side_icon_news:before {
  content: '\69';
}

.side_icon_shop:before {
  content: '\E008';
}


/*--------------------flickr--------------------*/

.imui_flickr {
  width: 35%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: fixed;
  right: 10px;
  top: 65px;
  z-index: 1010;
  -webkit-box-shadow: 0 1px 5px #999;
  -moz-box-shadow: 0 0 5px #888;
  box-shadow: 0 1px 5px #888;
  -webkit-animation: flickr .2s forwards;
  animation: flickr .2s forwards;
}

.showflickr {
  -webkit-animation: flickr_s .4s forwards;
  animation: flickr_s .4s forwards;
}

.hideflickr {
  -webkit-animation: flickr_h .4s forwards;
  animation: flickr_h .4s forwards;
}

.imui_flickr:after {
  content: " ";
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 10px;
  width: 10px;
  background: #fff;
  border-width: 1px 1px 0 0;
  border-color: #ccc;
  border-style: solid;
  position: absolute;
  top: -7px;
  right: 15px;
}

.imui_flickr_area li {
  padding: 0 10px;
  height: 45px;
  line-height: 40px;
  border-top: 1px solid #ddd;
  overflow: hidden;
}

.imui_flickr_area li.first {
  border-top: 0px !important;
}

.imui_flickr_area ul li a {
  display: block;
  height: 45px;
  text-overflow: ellipsis;
}

.imui_flickr_area li a:before {
  content: '';
  display: inline-block;
  width: 30px;
  font-family: "ElegantIcons";
  font-size: 18px;
  color: #ea5b56
}

.imui_flickr_area li.imui_flick_ic a:before {
  content: '\e003';
}

.imui_flickr_area li.imui_flick_ia a:before {
  content: '\e00b';
}

.imui_flickr_area li.imui_flick_im a:before {
  content: '\e08c';
}

.imui_flickr_area li.imui_flick_ie a:before {
  content: '\e037';
}

.imui_flickr_area li.imui_flick_ir a:before {
  content: '\72';
}


/*--------------------TIP&DIALOG--------------------*/


/*sheet*/

.imui_sheet {
  width: 100%;
  display: block;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1010;
}

.imui_sheet li a {
  display: block;
  height: 45px;
  line-height: 45px;
}

.imui_sheet li a:active {
  background: #f6f6f6
}

.imui_sheet li:last-child {
  border-top: 8px solid #eee;
}

.showsheet {
  -webkit-animation: bs .4s forwards;
  animation: bs .4s forwards;
}

.hidesheet {
  -webkit-animation: bh .4s forwards;
  animation: bh .4s forwards;
}


/*toparea*/

.imui_toparea {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 50px;
  z-index: 1010
}

.imui_toparea.open {
  -webkit-animation: ts .4s forwards;
  animation: ts .4s forwards;
}

.imui_toparea.close {
  -webkit-animation: b .4s forwards;
  animation: b .4s forwards;
}


/*opa*/

#dark {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
  position: fixed;
  background: #000;
  opacity: 0.6;
}

#light {
  left: 0px;
  top: 0px;
  z-index: 900;
  width: 100%;
  position: fixed;
  background: #000;
  opacity: 0.1;
  visibility: hidden
}


/*--------------------shar--------------------*/

#shar_box {
  z-index: 9999;
  position: fixed;
}

#shar_box img {
  width: 100%;
}

.shar_wx {
  z-index: 9999;
  position: fixed;
  top: 0px;
  right: 0px;
}

.shar_llq {
  z-index: 9999;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
}

.immwa_shar_item {
  height: 50px;
  line-height: 50px;
}

.immwa_shar_item span {
  display: block;
}

.covepic {
  width: 400px;
  height: 400px;
  display: none;
}

.covepic img {
  width: 400px;
}


/**/


/*--------------------Web App--------------------*/

.ath-viewport {
  position: fixed;
  z-index: 9999;
  width: 80%;
  background: #fff;
  box-shadow: 0 1px 6px #888;
  left: 10%;
  bottom: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.ath-viewport:after {
  content: " ";
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  height: 15px;
  width: 15px;
  background: #fff;
  border-width: 2px 2px 0 0;
  border-color: #ccc;
  border-style: solid;
  position: absolute;
  bottom: -9px;
  left: -moz-calc(50% - 8px);
  left: -webkit-calc(50% - 8px);
  left: calc(50% - 8px);
}

.ath-container {
  padding: 20px 10px 10px 10px;
  text-align: center;
  pointer-events: auto !important;
}

.ath-container:before {
  content: '';
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  background-image: url(close.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 2.7em;
  height: 2.7em;
  text-align: center;
  overflow: hidden;
  color: #a33;
  z-index: 9999;
}

.ath-application-icon {
  width: 48px;
  height: 48px;
  border-radius: 1em;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.3), inset 0 0.07em 0 rgba(255, 255, 255, 0.5);
}

.ath-container p {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 2.0;
}

.ath-action-icon {
  display: inline-block;
  vertical-align: middle;
  background-position: 50%;
  background-repeat: no-repeat;
  text-indent: -9999em;
  overflow: hidden;
}

.ath-ios7 .ath-action-icon,
.ath-ios8 .ath-action-icon,
.ath-ios9 .ath-action-icon {
  width: 1.6em;
  height: 1.6em;
  background-image: url(ios.png);
  margin-top: -0.3em;
  background-size: auto 100%;
}

.ath-ios6 .ath-action-icon {
  width: 1.8em;
  height: 1.8em;
  background-image: url(ios6.png);
  margin-bottom: 0.4em;
  background-size: 100% auto;
}

.ath-android .ath-action-icon {
  width: 1.4em;
  height: 1.5em;
  background-image: url(android.png);
  background-size: 100% auto;
}


/*--------------------Show Page--------------------*/

.showpagearea {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0px;
  background: #eee;
  z-index: 1010;
}

.showpagearea .imui_header {
  z-index: 1020;
}

.showpagearea .body_main {
  padding: 0;
  overflow-y: scroll;
  position: absolute;
  left: 0px;
  top: 50px;
  width: 100%;
  height: -moz-calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  height: calc(100% - 50px);
}

.showpage_in {
  -webkit-animation: cut-in .4s forwards;
  animation: cut-in .4s forwards;
}

.showpage_out {
  -webkit-animation: cut-out .4s forwards;
  animation: cut-out .4s forwards;
}

.showpagearea .imui_icon_back:before {
  content: '\4d';
}


/* 中间 + 号按钮 */

.qbt_add_open {
  -webkit-animation: qbt-open 0.5s forwards;
  animation: qbt-open 0.5s forwards;
}

.qbt_add_close {
  -webkit-animation: qbt-close 0.3s forwards;
  animation: qbt-close 0.3s forwards;
}


/* 快捷弹出层 */

.qbt_dark {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
  position: fixed;
  background: #000;
  opacity: 0.6;
  display: none;
}

.qbt_btn {
  position: fixed;
  bottom: -100px;
  z-index: 1002;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  text-align: center;
  color: #F3F3F3;
  opacity: 0;
}

.qbt_btn a {
  display: block;
  width: 100%;
  height: 100%;
}

.qbt_btn span {
  display: block;
  padding-top: 12px;
}

.qbt_btn span:before {
  font-family: "ElegantIcons";
  font-size: 26px;
  line-height: 32px;
}

.qbt_btn.blood {
  left: 16%;
  background: #22AC38;
}

.qbt_btn.blood span:before {
  content: '\E104';
}

.qbt_btn.forum {
  right: 16%;
  background: #3E5C9A;
}

.qbt_btn.forum span:before {
  content: '\0062';
}

.qbt_btn a {
  color: #f3f3f3
}

.qbt_btn p {
  font-size: 13px;
}

.qbt_btn_up {
  -webkit-animation: qbt-up 0.5s forwards;
  animation: qbt-up 0.5s forwards;
}

.qbt_btn_down {
  -webkit-animation: qbt-down 0.4s forwards;
  animation: qbt-down 0.4s forwards;
}

@-webkit-keyframes qbt-up {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 120px;
    opacity: 1;
  }
}

@keyframes qbt-up {
  0% {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 120px;
    opacity: 1;
  }
}

@-webkit-keyframes qbt-down {
  0% {
    bottom: 120px;
    opacity: 1;
  }
  to {
    bottom: -100px;
    opacity: 0;
  }
}

@keyframes qbt-down {
  0% {
    bottom: 120px;
    opacity: 1;
  }
  to {
    bottom: -100px;
    opacity: 0;
  }
}

@-webkit-keyframes qbt-open {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(135deg);
  }
}

@keyframes qbt-open {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(135deg);
  }
}

@-webkit-keyframes qbt-close {
  0% {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes qbt-close {
  0% {
    transform: rotate(135deg);
  }
  to {
    transform: rotate(0);
  }
}


/* 选择论坛版块发帖 */

.qbt-popup {
  width: 100%;
  display: block;
  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 1010;
  background-color: #fff;
  font-size: 16px;
  text-align: center;
}

.qbt-popup li a.cancel {
  display: block;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #e5e5e5;
  color: #777;
}

.qbt-popup-tip {
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  border-bottom: 1px solid #F3F3F3;
  color: #666;
}

.qbt-popup dl {
  width: 100%;
  display: table;
}

.qbt-popup dd {
  display: table-row;
}

.qbt-popup dd a {
  display: table-cell;
  border-right: 1px #f1f1f1 solid;
  border-bottom: 1px #f1f1f1 solid;
  line-height: 40px;
}

.qbt-popup dd a:last-child {
  border-right: none;
}

.qbt-popup li a:active {
  background: #f6f6f6
}

.qbt-popup li:last-child {
  border-top: 8px solid #eee;
}

.qbt-popup-show {
  -webkit-animation: bs .4s forwards;
  animation: bs .4s forwards;
}

.qbt-popup-hide {
  -webkit-animation: bh .4s forwards;
  animation: bh .4s forwards;
}


/*bottomcut*/

@-webkit-keyframes bs {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes bs {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes bh {
  0% {
    bottom: 0;
  }
  to {
    bottom: -100%;
  }
}

@keyframes bh {
  0% {
    bottom: 0;
  }
  to {
    bottom: -100%;
  }
}


/* 个人中心 样式修改 */

.nuc_item1 {
  margin-top: 0;
  font-size: 14px;
}

.nuc_item {
  margin-top: 10px;
  font-size: 14px
}

.nuc_subject {
  position: relative;
  padding: 12px 0 10px 46px;
  border-bottom: 1px #dddddd solid
}

.nuc_subject:before {
  position: absolute;
  left: 14px;
  top: 14px;
  width: 22px;
  height: 22px;
  content: '';
  z-index: 3;
}

.nuc_subject_tkk:before {
  background: url(nuc/nuc_17.jpg);
  background-size: 22px auto;
}

.nuc_subject_data:before {
  background: url(nuc/nuc_16.jpg);
  background-size: 22px auto;
}

.nuc_subject_forum:before {
  background: url(nuc/nuc_09.jpg);
  background-size: 22px auto;
}

.nuc_subject_star:before {
  background: url(nuc/nuc_12.jpg);
  background-size: 22px auto;
}

.nuc_subject_friend:before {
  background: url(nuc/nuc_21.jpg);
  background-size: 22px auto;
}

.nuc_subject_credit:before {
  background: url(nuc/nuc_23.jpg);
  background-size: 22px auto;
}

.nuc_subject_profile:before {
  background: url(nuc/nuc_26.jpg);
  background-size: 22px auto;
}

.nuc_subject_set:before {
  background: url(nuc/nuc_31.jpg);
  background-size: 22px auto;
}

.nuc_subject_r1 {
  border-bottom: 1px #dddddd solid
}

.nuc_subject_c1 {
  border-right: 1px #dddddd solid
}

.nuc_subject span {
  display: block;
  line-height: 1.6
}

.nuc_subject p {
  margin-top: 1px;
  font-size: 11px;
  color: #999999
}


/* 背景图高度 */

.nuc_header {
  height: 200px !important;
}

.nuc_header_info {
  height: 66px;
  text-align: center;
  padding-top: 60px;
}

.nuc_avatar {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
}

.nuc_avatar img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}


/* 点击头像修改 */

.nuc_avatar input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
}


/* 说说文字 */

.nuc_header_wsBox {
  text-align: center;
  padding-top: 22px;
}

.nuc_header_ws {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #f8f8f8;
  overflow: visible
}

.nuc_header_ws span.dou_left,
.nuc_header_ws span.dou_right {
  position: absolute;
  font-size: 44px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.7;
  letter-spacing: 2px;
  width: 26px;
  height: 28px;
}

.nuc_header_ws span.dou_left {
  left: -44px;
  top: -6px;
  background: url(nuc/nuc_dou_left.png) center center no-repeat;
  background-size: 26px auto
}

.nuc_header_ws span.dou_right {
  right: -40px;
  bottom: -5px;
  background: url(nuc/nuc_dou_right.png) center center no-repeat;
  background-size: 26px auto
}


/* 重置我的空间、最近来访ICON */

.nuc_mySpace,
.nuc_myVisit,
.nuc_myNews,
.nuc_task,
.nuc_vip {
  position: relative;
  padding-left: 27px
}

.nuc_mySpace:after,
.nuc_myVisit:after,
.nuc_myNews:after,
.nuc_task:after,
.nuc_vip:after {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  content: '';
  top: 0px;
  left: 0px;
}

.nuc_task:after {
  background: url(nuc/uc_task.jpg) no-repeat;
  background-size: 20px auto;
}

.nuc_vip:after {
  background: url(nuc/uc_vip.jpg) no-repeat;
  background-size: 20px auto;
}

.nuc_mySpace:after {
  background: url(nuc/nuc_03.jpg) no-repeat;
  background-size: 20px auto;
}

.nuc_myVisit:after {
  background: url(nuc/nuc_06.jpg) no-repeat;
  background-size: 20px auto;
}

.nuc_myNews:after {
  background: url(nuc/nuc_27.jpg) no-repeat;
  background-size: 20px auto;
}


/* 引导关注公众号 */


/* 弹出层：扫描关注公众号 */

.wxcodeBack {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2000;
  background-color: #000;
  opacity: 0.75
}

.wxcode {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2002;
  display: table;
}

.wxcode-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.wxcode-box {
  width: 78%;
  margin: 0 auto;
  position: relative;
}

.wxcode-photo {
  background-color: #fff;
}

.wxcode-box img {
  display: inline;
  max-width: 94%;
}

.wxcode-box span {
  display: block;
  background-color: #fff;
}

.wxcode-box span.title {
  padding-top: 8px;
  font-size: 18px;
  line-height: 30px;
  color: #333;
}

.wxcode-box span.intro {
  margin-top: 8px;
  padding: 12px 0;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
}

.wxcodeClose {
  position: absolute;
  right: 2px;
  top: 3px;
  width: 30px;
  height: 30px;
  border: 0;
  font-weight: 400;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 30px;
}

.wxcodeClose:before,
.wxcodeClose:after {
  position: absolute;
  left: 5px;
  top: 15px;
  content: '';
  width: 18px;
  height: 1px;
  background-color: #999;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-radius: 3px;
}

.wxcodeClose:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

a.block {
  display: block;
  width: 100%;
  height: 100%;
}


/* 资讯文章底部添加二维码 */

.viewcontent_code {
  padding-top: 10px
}

.viewcontent_code img {
  max-width: 100%
}


/* 头部左侧用户中心按钮 */

.imui_header_user {
  position: relative;
  float: left;
  width: 100%;
  height: 50px;
  background: url(/template/cis_app/tkk/assets/widget/base/images/ucenter.png);
  background-size: 20px auto;
  background-repeat: no-repeat;
  margin-left: 12px;
  margin-top: 15px;
}


/* 顶部左侧头像 */

.imui_header_avatar{
  position: relative;
  float: left;
  margin-top: 10px;
  margin-left: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
