/**
 * view：查看组件页面样式
 */


/****** 糖控控详情页面 *******/


/* 页面容器层 */

.viewMoodPageArea {
  padding: 15px 8px 12px 8px;
  background-color: #fff;
}


/* 评论区域 */

.viewMoodCom {
  position: relative;
  margin-top: 10px;
  background-color: #f0f0f0;
  padding-bottom: 8px;
}

.viewMoodCom:before {
  position: absolute;
  left: 18px;
  top: -8px;
  z-index: 9;
  width: 0;
  height: 0;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 9px solid #f0f0f0;
}

.viewMoodBox {
  padding-left: 32px;
}


/* 喜欢 */

.viewMoodBoxLike {
  background: url(images/viewMoodLike.png) 10px 14px no-repeat;
  background-size: 13px auto;
}

.viewMoodBoxCom {
  background: url(images/viewMoodComment.png) 10px 14px no-repeat;
  background-size: 13px auto;
}


/* 行 */

.viewMoodBoxRow {
  position: relative;
}

.viewMoodBoxRow:before {
  position: absolute;
  z-index: 8;
  top: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid #E6E6E6;
  -webkit-transform: scaleY(0.5);
}


/* 头像列表 */

.viewMood-likeList {
  padding: 9px 0 8px;
}

.viewMood-likeList li {
  float: left;
  margin-right: 5px;
}

.viewMood-likeList img {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}


/* 评论 */

.viewMood-comItem {
  padding-top: 5px;
  padding-bottom: 7px;
  padding-right: 7px;
}

.viewMood-comItem-avatar {
  display: block;
  width: 34px;
  margin-right: 7px;
}

.viewMood-comItem-avatar img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.viewMood-comItem h3 {
  font-size: 13px;
}

.viewMood-comItem a {
  color: #7586a9;
}

.viewMood-comItem p {
  padding-top: 2px;
  font-size: 12px;
  line-height: 1.5;
}

.viewMood-comItem p img {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: text-top;
  margin: 0 2px;
}

.viewMood-comItem-cont {
  position: relative;
}


/****** 评论详情页面 *******/

.viewComeTip {
  color: #888;
  padding: 10px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.viewComeTip p {
  display: none;
}


/* 日期 */

.viewCome-date {
  display: inline-block;
  margin-left: 15px;
  font-size: 11px;
  color: #C1C1C1;
  font-weight: 500;
}


/* 内容 */

.viewCome-words {
  padding: 8px 0 11px 3px;
  font-size: 14px;
  color: #222;
}

.viewCome-words img {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: text-top;
  margin: 0 2px;
}

.viewCommentContent {
  padding-bottom: 45px;
}

.viewCommentCont .ucNewsItem-avatar {
  /*margin-top: 0.08rem;*/
}

.viewCommentCont .ucNewsItem-title {
  color: #C1C1C1;
}

.viewCommentCont .ucNewsItem-title span {
  color: #858585;
}

.viewCommentCont .ucNewsItem-cont {
  padding-left: 2px;
}


/* 回复区域 */

.viewComeSay-wrapper {
  height: 32px;
}

.viewComeSay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ececec;
  box-shadow: 0 -1px 3px 0px #ececec;
  -moz-box-shadow: 0 -1px 3px 0px #ececec;
  -webkit-box-shadow: 0 -1px 3px 0px #ececec;
  background-color: #fff;
  z-index: 999;
}

.viewComeSayLine1 {
  padding: 7px 0 7px 7px;
}

.viewComeSayCopy {
  z-index: -999;
  opacity: 0;
  visibility: hidden;
}

.viewComeSay-face {
  width: 28px;
  height: 28px;
  margin-top: 4px;
  margin-right: 7px;
  background: url(../../widget/base/images/face.png);
  background-size: 28px;
}

.viewComeSay-face.on {
  background: url(../../widget/base/images/face_on.png);
  background-size: 28px;
}

.viewComeFace {
  position: relative;
}

.viewComeFace:after {
  position: absolute;
  z-index: 8;
  top: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid #D0D0D0;
  -webkit-transform: scaleY(0.5);
}

.viewComeSay-in {
  padding: 8px 7px 8px 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
  position: relative;
}

.viewComeSay-in textarea {
  display: block;
  width: 100%;
  height: auto;
  line-height: 1.5;
  font-size: 13px;
  height: 20px;
  background-color: #f0f0f0;
  resize: none;
  outline: 0;
}

.viewComeSay-btn {
  width: 50px;
  font-size: 15px;
  text-align: center;
  color: #888;
}

.viewComeSay-btn a {
  display: block;
  height: 36px;
  line-height: 36px;
}


/****** 评论、点赞、通知共用 *******/

.ucNewsItem {
  padding-top: 12px;
}

.ucNewsItem-avatar {
  display: block;
  margin-left: 11px;
  margin-right: 7px;
}

.ucNewsItem-cont {
  position: relative;
  padding-right: 10px;
  padding-top: 4px;
}

.ucNewsItem-cont:after {
  position: absolute;
  z-index: 8;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #c6c7cc;
  -webkit-transform: scaleY(0.5);
}

.viewCommentCont .ucNewsItem-title {
  color: #C1C1C1;
}

.ucNewsItem-title {
  font-size: 13px;
  padding-left: 2px;
  line-height: 1.45;
  color: #858585;
}

.ucNewsItem-title a {
  color: #7586a9;
}

.ucNewsItem-cont .ui-moodBV {
  border-radius: 0;
  margin-right: 0;
  margin-left: 13px;
}

.ucNewsItem-date {
  padding: 6px 0 2px 2px;
  font-size: 12px;
  color: #a7a7a7;
  line-height: 1.8;
}


/* 内容整体点击区域 */

.ucNewsItem-clickAll {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 8;
}


/* 来源点击区域 */

.ucNewsItem-clickSource {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  right: 10px;
  top: 4px;
  z-index: 10;
}


/****** 评论页面 ******/


/* 评论页面容器 */

.ucNewsComeCont {
  padding-top: 4px;
}


/* 单条评论内容区域 */

.ucNewsComeWords {
  position: relative;
  margin-top: 10px;
  background-color: #f0f0f0;
  font-size: 12px;
  padding: 7px 8px 6px 9px;
  line-height: 1.5;
}

.ucNewsComeWords:before {
  position: absolute;
  left: 18px;
  top: -7px;
  z-index: 9;
  width: 0;
  height: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #f0f0f0;
}


/****** 血糖数据页面 *******/


/* 导航样式修改 */

.viewBloodNav {
  font-size: 15px;
  color: #454545;
  line-height: 40px;
  height: 40px;
  text-align: center;
  position: relative;
  background-color: #fff;
  bottom: 0;
  /* 重置 Swiper样式 */
  /*padding: 0 0.8rem;*/
}

.viewBloodNav:after {
  position: absolute;
  z-index: 8;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #bcbbbc;
  -webkit-transform: scaleY(0.5);
}

.viewBloodNav li.on {
  color: #5c81c1;
  position: relative;
}

.viewBloodNav li.on:after {
  position: absolute;
  z-index: 9;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #5c81c1;
}


/*
 * 血糖数据页面
 * 记录表
 */

.viewBloodDate {
  margin-top: 10px;
  background-color: #f8f9fb;
  height: 40px;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  color: #7586a9;
}

.viewBloodDate span {
  display: block;
  width: 56px;
  position: relative;
}

.viewBloodDate span i.left {
  display: inline-block;
  position: absolute;
  font-size: 0;
  line-height: 0;
  border-color: transparent #7586a9 transparent transparent;
  border-style: dashed dashed solid dashed;
  border-width: 6px 10px 6px 10px;
  top: 20px;
  left: 6px;
  margin-top: -6px;
}

.viewBloodDate span i.right {
  display: inline-block;
  position: absolute;
  font-size: 0;
  line-height: 0;
  border-color: transparent transparent transparent #7586a9;
  border-style: dashed dashed solid dashed;
  border-width: 6px 10px 6px 10px;
  top: 20px;
  right: 6px;
  margin-top: -6px;
}


/* 血糖数值表格*/

.viewBloodTable {
  overflow: hidden;
}

.viewBloodTable table {
  background: #ffffff;
  width: 100%;
  font-weight: normal;
  border-collapse: collapse;
  border-spacing: 0px;
  empty-cells: show;
  font-size: 13px;
  color: #595757;
}

.viewBloodTable table th,
.viewBloodTable table td {
  width: 10.625%;
  font-weight: normal;
  border: 1px solid #ddd;
  text-align: center;
  height: 30px;
}

.viewBloodTable table th {
  font-family: 'SimHei';
}

.viewBloodVaTab table tr:first-child td {
  border-top: none;
}

.viewBloodVaTab td.green {
  background-color: #eaffea;
  color: #5fa660;
}

.viewBloodVaTab td.red {
  background-color: #f9e1e1;
  color: #d66a69;
}

.viewBloodVaTab td.yellow {
  background-color: #fff3e8;
  color: #eea160;
}


/* 表格提示 */

.viewBloodTips {
  margin-top: 10px;
  background-color: #fff;
  text-align: center;
  font-size: 0;
  padding: 6px 0;
}

.viewBloodTips p {
  line-height: 20px;
  color: #848484;
  font-size: 12px;
}

.viewBloodTips span {
  display: inline-block;
  font-size: 12px;
  line-height: 26px;
  /* height: 34px; */
  position: relative;
  padding-left: 16px;
  margin: 0 8px;
  padding-bottom: 0px;
}

.viewBloodTips span i {
  display: inline-block;
  position: absolute;
  width: 11px;
  height: 11px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

.viewBloodTips span.green {
  color: #5fa660;
}

.viewBloodTips span.green i {
  background-color: #5fa660;
}

.viewBloodTips span.red {
  color: #d66a69;
}

.viewBloodTips span.red i {
  background-color: #d66a69;
}

.viewBloodTips span.yellow {
  color: #e69d5f;
}

.viewBloodTips span.yellow i {
  background-color: #e69d5f;
}


/* 血糖数据编辑 */

.viewBdEdit {
  display: table;
  /*border-collapse: separate;*/
  line-height: 30px;
  padding: 10px;
}

.viewBdEdit li {
  display: table-row;
}

.viewBdEdit span {
  display: table-cell;
  text-align: left;
  white-space: nowrap;
  width: 1%;
  padding-right: 12px;
  padding-left: 8px;
}

.viewBdEdit input {
  display: table-cell;
  width: 100%;
  border-radius: 0
}

.viewBdEdit input.number {
  width: 40px;
  line-height: 20px;
  border-bottom: 1px #b7b7b7 solid;
}

.viewBdEdit-del {
  margin-left: 18px;
  line-height: 28px;
  margin-bottom: 16px;
  background: #f1f1f1;
  color: #7d7d7d;
  padding: 0 9px;
  font-size: 13px;
}

.viewBdEdit-del span:before {
  font-family: ElegantIcons;
  content: '\E019';
  font-size: 14px;
  padding-right: 6px;
  vertical-align: top;
}


/*
 * 血糖数据页面
 * 曲线图
 */

.viewBdGraph {
  height: 330px;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  background-color: #fff;
}

.viewBdGraph-btn {
  background-color: #fff;
  text-align: center;
  padding: 13px 0 13px 0;
}

.viewBdGraph-btn span {
  display: inline-block;
  font-size: 13px;
  line-height: 2;
  padding: 0 6px;
  margin: 0 6px;
  background-color: #dcdcdc;
  color: #797979;
  border-radius: 3px;
}

.viewBdGraph-btn span.on {
  background-color: #597cba;
  color: #fff;
}

.viewBdGraph-tips {
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 12px 16px;
  background-color: #fff;
  font-size: 12px;
  line-height: 1.4;
  color: #565656;
}

.viewBdGraph-tips li {
  padding-top: 6px;
}


/*
 * 血糖数据页面
 * 统计
 */

.viewBdStat {}

.viewBdStat-nav {
  position: relative;
  margin-top: 10px;
  margin-bottom: 6px;
  background-color: #f8f9fb;
  height: 38px;
  line-height: 38px;
}

.viewBdStat-nav p {
  font-size: 12px;
  color: #bcbcbc;
  padding-left: 12px;
}

.viewBdStat-nav select {
  float: right;
  width: 100px;
  height: 100%;
  text-indent: 0.8em;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border-radius: 0;
  font-size: 14px;
}

.viewBdStat-nav-arrow {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
  z-index: 9;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #999;
  pointer-events: none
}


/* 数据区域 */

.viewBdStat-area {
  margin-bottom: 6px;
  background-color: #fff;
}

.viewBdStat-box {
  padding: 20px 12px 13px 12px;
}

.viewBdStat-box h2 {
  margin-bottom: 21px;
  font-size: 14px;
  line-height: 100%;
}

.viewBdStat-boxInner {
  position: relative;
  padding: 0 11px;
}


/* 图表区域 */

.viewBdStat-chart {
  position: relative;
  margin-right: 30px;
  width: 90px;
  height: 90px;
  overflow: hidden;
}

.viewBdStat-chart canvas {
  width: 90px;
  height: 90px;
}


/* 图表中间的数据 */

.viewBdStat-chartText {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 11px;
  top: 0;
  z-index: 9;
}

.viewBdStat-chartText span {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
}

.viewBdStat-chartText p {
  display: block;
  font-size: 11px;
  text-align: center;
}


/* 图表数据区域 */

.viewBdStat-data {
  padding-top: 2px;
}

.viewBdStat-dataItem {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
}

.viewBdStat-dataItem b {
  display: inline-block;
  padding: 0 10px;
  margin-right: 6px;
  border-radius: 10px;
  font-weight: 500;
}

.viewBdStat-dataNormal b {
  border: 1px #22AC38 solid;
  color: #22AC38;
}

.viewBdStat-dataLow b {
  border: 1px #FF0000 solid;
  color: #FF0000;
}

.viewBdStat-dataHigh b {
  border: 1px orange solid;
  color: orange;
}


/* 平均数据区域 */

.viewBdStat-count {
  display: table;
  width: 100%;
  font-size: 12px;
}

.viewBdStat-countRow {
  display: table-row;
}

.viewBdStat-countRow span {
  display: table-cell;
  text-align: center;
  border: 1px solid #f0f0f0;
  height: 30px;
  line-height: 30px;
}


/****** 控糖说说列表页 *******/

.moodList-container {
  padding: 16px 10px 0 7px;
}


/* 按日期来划分的区域 */

.moodList-area {
  margin-bottom: 18px;
}


/* 左侧日期 */

.moodList-date {
  width: 70px;
}

.moodList-date span {
  font-size: 24px;
  line-height: 1;
  display: block;
}

.moodList-date b {
  font-size: 0.45em;
  line-height: 1;
  padding-left: 3px;
}


/* 右侧内容区域 */

.moodList-cont {}


/* 单条说说 */

.moodList-item {
  margin-bottom: 8px;
  position: relative;
}


/* 说说内容区域 */

.moodList-itemCont {
  padding: 4px;
  background-color: #f0f0f0;
}

.moodList-itemCont img {
  float: left;
  height: 42px;
  width: 42px;
  margin-right: 8px;
  overflow: hidden;
}

.moodList-itemCont p {
  padding: 4px;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.viewMoodListContent .ui-moodBV {
  width: 46px;
  height: 46px;
  margin-right: 8px;
}

.viewMoodListContent .ui-moodBV-name {
  font-size: 11px;
}


/* 屏幕适配调整样式区域  --------------*/

@media all and (min-width: 360px) {
  /* 说说详情页面 */
  .viewMood-comItem h3 {
    font-size: 14px;
  }
  .viewMood-comItem p {
    font-size: 13px;
  }
  /* 我的糖圈帖子 */
  .viewForumItem-cont img {
    width: 60px;
    height: 60px;
  }
  .viewForumItem-cont h3 {
    font-size: 16px;
    line-height: 16px;
    height: 16px;
  }
  .viewForumItem-cont p {
    margin-top: 8px;
    font-size: 13px;
    line-height: 18px;
    max-height: 36px;
  }
  .viewForumItem-attr {
    font-size: 13px;
    line-height: 24px;
  }
  .viewFourm-eye,
  .viewFourm-comment {
    height: 24px;
  }
  /* 血糖数据区域 */
  .viewBloodNav {
    font-size: 16px;
  }
  .viewBloodTips span {
    font-size: 13px;
  }
  .viewBloodTable table {
    font-size: 14px;
  }
  .viewBdStat-nav p {
    font-size: 13px;
  }
  .viewBdStat-nav select {
    font-size: 15px;
    text-indent: 15px;
  }
  .viewBdStat-dataItem {
    font-size: 13px;
  }
  .viewBdStat-count {
    font-size: 13px;
  }
  .viewBdStat-box h2 {
    font-size: 15px;
  }
}

@media all and (min-width: 400px) {
  /* 说说详情页面 */
  .viewMood-comItem h3 {
    font-size: 15px;
  }
  .viewMood-comItem p {
    font-size: 14px;
  }
  /* 血糖数据区域 */
  .viewBloodTable table {
    font-size: 15px;
  }
  .viewBloodTips span {
    font-size: 14px;
  }
  .viewBdStat-nav p {
    font-size: 14px;
  }
  .viewBdStat-nav select {
    font-size: 16px;
    text-indent: 15px;
  }
  .viewBdStat-dataItem {
    font-size: 14px;
  }
  .viewBdStat-count {
    font-size: 14px;
  }
  .viewBdStat-box h2 {
    font-size: 16px;
  }
}


/* 屏幕适配调整样式区域  --------------*/

@media all and (min-width: 360px) {
  /* 签名档 */
  .ucenterSignBox textarea {
    font-size: 14px;
  }
  .ucenterSignBtn {
    font-size: 16px;
  }
  /* 消息中心  评论 */
  .ucNewsItem-title {
    font-size: 14px;
  }
  .ucNewsComeWords {
    font-size: 13px;
  }
  /* 控糖说说列表页 */
  .moodList-date {
    width: 78px;
  }
  .moodList-date span {
    font-size: 25px;
  }
  .moodList-itemCont p {
    font-size: 13px;
    line-height: 20px;
  }
  .viewMoodListContent .ui-moodBV {
    width: 52px;
    height: 52px;
    margin-right: 10px;
  }
  .viewMoodListContent .ui-moodBV-value {
    line-height: 20px;
  }
  .viewMoodListContent .ui-moodBV-name {
    font-size: 12px;
  }
  .moodList-itemCont img {
    height: 46px;
    width: 46px;
    margin-right: 8px;
  }
}

@media all and (min-width: 400px) {
  /* 消息中心  评论 */
  .ucNewsItem-title {
    font-size: 15px;
  }
  /* 控糖说说列表页 */
  .moodList-date {
    width: 86px;
  }
  .moodList-date span {
    font-size: 26px;
  }
  .moodList-itemCont p {
    font-size: 14px;
    line-height: 22px;
  }
  .viewMoodListContent .ui-moodBV {
    width: 58px;
    height: 58px;
    margin-right: 12px;
  }
  .viewMoodListContent .ui-moodBV-value {
    font-size: 16px;
    line-height: 24px;
  }
  .viewMoodListContent .ui-moodBV-name {
    font-size: 13px;
  }
  .moodList-itemCont img {
    height: 52px;
    width: 52px;
    margin-right: 10px;
  }
}