/**
 * 首页样式
 */

/* 糖控控 心情item */
.indexMoodItem{
	position: relative;
	padding: 14px 10px 14px 10px;
	background-color: #fff;
}

/* 饮食、用药、运动：首页只显示一行 */
.indexMoodItem .ui-moodRelated li p{
	height: 20px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

/* 心情文字显示3行 */
.indexMoodItem .ui-moodText{
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* 心情文字、饮食用药运动 外围层 */
.indexMoodArea1{
	position: relative;
}

/* 滚动层 */
#indexSwiper{
	height: 100%;
}

/* 首页广告 */
.indexAD{
	background-color: #fff;
	margin-bottom: 10px;
	padding: 12px 10px 10px;
	color: #888;
}

.indexAD p{
	font-size: 13px;
	line-height: 13px;
	height: 13px;
	overflow : hidden;
	text-overflow: ellipsis;
}

.indexAD-img{
	padding: 0;
	/*max-height: 100px;*/
	overflow: hidden;
}

.indexAD-img img{
	display: block;
}

/* 评论区域 */
.indexMoodCome{
	position: relative;
    margin-top: 12px;
    border: 1px #f7f7f7 solid;
    padding: 8px 8px 5px 8px;
    background-color: #f7f7f7;
}

.indexMoodCome:before {
	position: absolute;
	z-index: 10;
	left: 10px;
	top: -5px;
	content: '';
    width: 8px;
    height: 8px;
    border-left: 1px solid #f7f7f7;
    border-top: 1px solid #f7f7f7;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background: #f7f7f7;
}

.indexMoodComeRow {
    position: relative
}

.indexMoodComeRow:before {
    position: absolute;
    z-index: 8;
    top: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    border-top: 1px dashed #E6E6E6;
    -webkit-transform: scaleY(0.5)
}

.indexMoodComeRow:first-child:before {
	display: none;
}

.indexMood-comItem {
    padding-top: 0px;
    padding-bottom: 3px;
}

.indexMood-comItem-avatar {
    display: block;
    width: 34px;
    margin-right: 7px
}

.indexMood-comItem-avatar img {
    width: 34px;
    height: 34px;
    border-radius: 50%
}

.indexMood-comItem h3 {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.5;
}

.indexMood-comItem a {
    color: #7586a9;
}

.indexMood-comItem-cont {
    position: relative
}

.indexMood-comItem p{
	padding-top: 0px;
    font-size: 12px;
    line-height: 1.4;
	color: #777;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.indexMood-comItem p img{
	display: inline-block;
	width: 16px;
	vertical-align: text-top;
	margin: 0 2px;
}

.indexMood-comItem p a.name{
	color: #597cba;
}

/* 帖子样式 */
.indexForumItem{
	position: relative;
	padding: 14px 10px 14px 10px;
	background-color: #fff;
}

.indexFourmL{
	width: 48px;
	margin-right: 12px;
}

.indexFourmIcon, .indexNewsIcon{
	width: 46px;
	height: 46px;
	background-color: #7ca1db;
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
}

.indexFourmIcon span{
	display: block;
	position: absolute;
	width: 36px;
	font-size: 12px;
	line-height: 36px;
	color: #618dd2;
	font-family: georgia, "微软雅黑";
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.indexFourmR{
	position: relative;
	padding: 10px;
	background-color: #f7f7f7;
}

.indexFourmR-ad{
	padding: 0;
}

.indexFourmR-ad img{ display: block;}

.indexFourmBox{
	position: relative;
	
}

.indexFourmBox img{
	width: 46px;
	height: 46px;
	margin-right: 10px;
}

.indexFourmBox h3{
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	max-height: 54px;
	overflow: hidden;
	color: #555;
}

.indexFourmBox p{
	margin-top: 5px;
	color: #999999;
	font-size: 12px;
	line-height: 1.4;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.indexNewsIcon span{
	display: block;
	text-align: center;
	font-size: 12px;
	color: #fff;
	line-height: 1.3;
	padding-top: 8px;
}

.indexFourmBot{
	margin-top: 10px;
	color: #b9b9b9;
	line-height: 14px;
	height: 14px;
	overflow: hidden;
}

.indexAdItem{
	position: relative;
	margin-top: 0px;
	/*padding: 12px 10px 14px 10px;*/
	background-color: #fff;
}

.indexMoodItem:after, .indexForumItem:after{
	position: absolute;
    z-index: 8;
    bottom: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ddd;
    -webkit-transform: scaleY(0.5);
}


/* 屏幕适配调整样式区域  --------------*/

@media all and (min-width: 360px) {

	/*.indexFourmBox h3{
		font-size: 15px;
	}*/

	.indexFourmBox p{
		font-size: 12px;
	}
	
}
