/* 
 * headroom 插件引用的样式 
 * 
 * */

.headroom{
	visibility: visible;
}

/* 向上滚动时设置的class*/
.headroom-pinned{
	visibility: visible;
}

/* 向下滚动时所设置的class */
.headroom-unpinned{
	visibility: hidden;
	
}

/* 当scrollTop小于offset时 */
.headroom-top{
	
}

/* 当scrollTop大于offset时 */
.headroom-not-top{
	position: fixed !important;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
}
