<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-control" content="600" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-title" content="糖帮帮">
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://bbs.tangbangbang.cn/source/plugin/cis_weixin/core/ui/ico72.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://bbs.tangbangbang.cn/source/plugin/cis_weixin/core/ui/ico72.png">
<link rel="apple-touch-icon-precomposed" href="http://bbs.tangbangbang.cn/source/plugin/cis_weixin/core/ui/ico72.png" />
<meta name="format-detection" content="telephone=no" />
<meta name="keywords" content="" />
<meta name="description" content=",糖帮帮" />
<title>糖帮帮，一起改变糖尿病</title>
<link rel="stylesheet" href="../dz/ui.css" type="text/css" media="all">
<link rel="stylesheet" href="http://bbs.tangbangbang.cn/source/plugin/cis_weixin/core/ui/reset.css" type="text/css" media="all">
<script src="http://bbs.tangbangbang.cn/source/plugin/cis_weixin/core/js/jquery-1.8.3.min.js?GzS" type="text/javascript"></script><!--ignore-->
	
