/**
 * 邀请页样式
 * 
 */


body{
	background-color: #5279b5;
}

.invite_body{
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}


.invite_bg img,.invite_pic img,.invite_picbg{
	display: block;
	width: 100%;
	max-width: 640px;
}

/*背景*/
.invite_bg{
	position: relative;
}


/*内容*/
.invite_cont{
	width: 318px;
	height: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


/*右侧内容*/
.invite_pub{
	width: 248px;
	float: right;
	position: relative;
	z-index: 2;
	margin-left: 10px;
}



/*头像*/
.invite_cir{
	width: 42px;
	height: 42px;
	border: 4px solid #a5c1eb;
	background: url(../images/toppic.png)no-repeat center center;
	background-size:100% 100%;
	border-radius: 100%;
	float: left;
	
}

/*小三角*/
.invite_sj{
 	width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 8px solid #fff;
    border-bottom: 4px solid transparent;
   	position: absolute;
   	top: 12px;
   	left: -8px;
   	z-index: 1;
}



/*发表内容*/
.invite_talk{
	background-color: #FFFFFF;
	border-radius: 4px;
	width: 228px;
	min-height: 32px;
	padding:10px;
}



.invite_talk .invite_talk_t{
	font-size: 13px;
	line-height: 130%;
	margin-bottom: 5px;
	color: #3e68a9;
}

.invite_talk .invite_talk_t span{
	color: #e85084;
}

.invite_talk .invite_talk_c{
	font-size: 16px;
	line-height: 120%;
	color: #5f8ad1;
	font-weight: bold;
}

.invite_erweima{
	width: 100%;
	position: relative;
}

.invite_erweima .invite_picer{
	width: 30.46%;
	position: absolute;
	top: 22.5%;
	left: 12.8%;
}

@media screen and (max-width: 320px) {
	.invite_cont{
	width: 295px;
	}
	
	.invite_pub{
		width: 231px;
	}
	
	.invite_talk{
		width: 211px;
	}
	
	.invite_talk .invite_talk_t{
	font-size: 12px;
	}
	
	.invite_talk .invite_talk_c{
	font-size: 15px;
	}
}



