/* APP使用样式 */


/* 发现页面APP样式 */

.bodyAppFind{
	
}

.bodyAppFind .headerarea{
	display: none;
}

.bodyAppFind .body_main{
	padding: 0;
	height: 100%;
}



/* 糖控控页面APP样式 */

.bm_appTkk{
	height: 100%;
    padding-bottom: 0;
    padding-top: 42px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hd_appTkk{
	background-color: #f8f8f8;
	color: #454545;
	text-align: center;
	height: 42px;
}

.hd_appTkk:after {
    position: absolute;
    z-index: 8;
    bottom: -1px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #bcbbbc;
    -webkit-transform: scaleY(0.5);
}

.hd_appTkk .imui_hl, .hd_appTkk .imui_hr{ display: none;}

.hd_appTkk .imui_hm{
	float: none;
	width: 68%;
}

.hd_appTkk .header_nv{ line-height: 42px; height: 42px; padding: 0;}

.hd_appTkk .header_nv ul{ border: 0; line-height: 42px; height: 42px;}

.hd_appTkk .header_nv ul li.a{
	background: none;
    position: relative;
}

.hd_appTkk .header_nv ul li.a:after {
    position: absolute;
    z-index: 9;
    bottom: 0px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 4px solid #5c81c1;
}

.hd_appTkk .header_nv ul li.a a{
	color: #5c81c1;
}

.hd_appTkk .header_nv ul li:first-child{
	border-right: none;
}

.hd_appTkk .header_nv ul li a{
	color: #454545;
}


/* 其他页面隐藏返回按钮 */
.appHide{
	display: none;
}
