/*
 * 任务中心@首页
 */


/* 基础背景色 */

.ti-bc {
  background-color: #5b86c9;
}


/* 基础颜色 */

.tc-45 {
  color: #454545;
}


/* 仪表盘 */

.ti-panel {
  height: 154px;
  width: auto;
  background: url("images/task_bg.jpg") no-repeat center center #5b86c9;
  padding-top: 16px;
}

.ti-panel h2 {
  position: relative;
  z-index: 22;
  line-height: 68px;
  height: 68px;
}

.ti-panel h2 img {
  width: 68px;
  height: 68px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.ti-panel h2 span {
  display: block;
  position: absolute;
  z-index: 22;
  right: 0;
  top: 16px;
  height: 32px;
  line-height: 32px;
  padding: 0 10px 0px 16px;
  font-size: 14px;
  background: #4875bb;
  -moz-border-radius: 20px 0 0 20px;
  -webkit-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}

.ti-panel h3 {
  line-height: 2;
  margin-top: 6px;
  font-size: 14px;
  font-weight: 500;
}

.ti-panel h4 {
  width: 54%;
  margin: 0 auto;
  margin-top: 9px;
  font-size: 14px;
  font-weight: 500;
}

.ti-panel h4 span:first-child {
  float: left;
}

.ti-panel h4 span:last-child {
  float: right;
}


/* TAB 切换区域  @ 此处为共用部分 */

.task-tabWrap {
  position: relative;
  height: 45px;
}

.task-tab {
  position: relative;
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  background-color: #fff;
  bottom: 0;
}

.task-tab:after {
  position: absolute;
  z-index: 8;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #bcbbbc;
  -webkit-transform: scaleY(0.5);
}

#task_index_tab li {
  width: 50%;
}

#task_index_tab li:last-child {
  position: relative;
  z-index: 11;
}

.imui_icon_arrows {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  color: #d4d4d4;
}

#task_index_tab li.on .imui_icon_arrows {
  color: #5b86c9;
}

.imui_icon_arrows:after {
  width: 50px;
  font-family: ElegantIcons;
  content: '\33';
  font-size: 20px;
  font-weight: bold;
}

.task-menu {
  position: absolute;
  z-index: 11;
  top: 44px;
  width: 100%;
  right: 0;
  background: #f7f7f7;
  padding: 4px 0;
  display: none;
  border-bottom: 1px solid #d6d6d6;
}

.task-menu p {
  color: #454545;
  font-size: 14px;
  line-height: 2.5;
  text-align: center;
  border-bottom: 1px #eaeaea solid;
}

.task-menu p:last-child {
  border-bottom: none;
}

.task-menu p span {
  font-size: 10px;
  color: #fe3200;
  font-weight: bold;
}

.task-tab li.on {
  position: relative;
  color: #5b86c9;
}

.task-tab li.on:after {
  position: absolute;
  z-index: 9;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #5b86c9;
}


/* 任务列表 */

.ti-taskWrap {
  padding: 12px 14px 14px 14px;
}

.ti-taskItem {
  position: relative;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 2px;
  background-color: #fff;
}

.ti-taskItem-link {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  content: '';
}

.ti-taskPerson {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  line-height: 1.2;
}

.ti-taskPerson p {
  font-size: 11px;
}

.ti-taskPerson h3 {
  padding-top: 6px;
  font-size: 16px;
  font-weight: 500;
  font-family: arial
}


/* 待领取 */

.ti-taskItem-bc0 .ti-taskPerson {
  background-color: #7eaffc;
  border: 4px solid #ebf6fc;
}


/* 待开始 */

.ti-taskItem-bca .ti-taskPerson {
  background-color: #89cef7;
  border: 4px solid #ebf6fc;
}


/* 进行中 */

.ti-taskItem-bcb .ti-taskPerson {
  background-color: #febe92;
  border: 4px solid #fef5ef;
}


/* 已完成 */

.ti-taskItem-bcc .ti-taskPerson {
  background-color: #96d598;
  border: 4px solid #f1f8f1;
}


/* 未完成 */

.ti-taskItem-bcd .ti-taskPerson {
  background-color: #cecece;
  border: 4px solid #fafafa;
}

.ti-taskText {
  padding: 5px 66px 0 12px;
}

.ti-taskText.ti-taskNull {
  padding-top: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.ti-taskText h2 {
  font-weight: 500;
  color: #454545;
  font-size: 15px;
  line-height: 1.3;
  padding-bottom: 3px;
  padding-top: 1px;
}

.ti-taskText p {
  color: #aaaaaa;
  font-size: 12px;
}

.ti-taskText.ti-taskNull p {
  font-size: 12px;
}

.ti-taskText p a {
  /*color: #5b86c9;*/
  color: #aaaaaa;
}

.ti-taskBtn {
  position: absolute;
  right: 12px;
  top: 20px;
  width: 60px;
  font-size: 13px;
  line-height: 30px;
  border-radius: 3px;
  color: #7eaffc;
  z-index: 3;
}

.ti-taskStatus {
  position: absolute;
  right: 12px;
  top: 20px;
  width: 60px;
  font-size: 13px;
  line-height: 30px;
  background-color: #fff;
  z-index: 11;
}


/* 待开始 */

.ti-taskItem-bca .ti-taskText h2 {
  color: #868686;
}

.ti-taskItem-bca .ti-taskStatus {
  color: #89cef7;
}


/* 进行中 */

.ti-taskItem-bcb .ti-taskStatus {
  color: #febe92;
  font-weight: 700;
}


/* 已完成 */

.ti-taskItem-bcc .ti-taskText h2 {
  color: #aaa;
}

.ti-taskItem-bcc .ti-taskStatus {
  color: #96d598;
}


/* 未完成 */

.ti-taskItem-bcd .ti-taskText h2,
.ti-taskItem-bcd .ti-taskText p a,
.ti-taskItem-bcd .ti-taskStatus {
  color: #cecece;
}

.ti-taskBtn.disable,
.ti-taskBtn.finished,
.ti-taskBtn.outed {
  color: #cecece;
}


/* 未达到领取条件 */

/*.ti-taskItem-disable {
  padding-bottom: 33px;
}*/

.ti-taskItem-disable{
  opacity: 0.5;
}

.ti-taskItem-disable .ti-taskBtn{
  color: #d6c6c6;
}

/*.ti-taskInfo {
  color: #c5abab;
  line-height: 1.6;
  display: block;
  padding-top: 4px;
  position: absolute;
  left: 0px;
  text-indent: 14px;
  bottom: 4px;
  border-top: 1px #f3f3f3 outset;
  width: 100%;
  font-size: 11px;
}*/