/*tasking-detail*/

.tasking-detail {
  padding: 10px 16px 20px 16px;
  position: relative;
  z-index: 11;
}

.tasking-detail h2 {
  font-size: 16px;
  line-height: 1.4;
  padding-top: 5px;
  padding-bottom: 7px;
}

.tasking-detail h2 span {
  /*font-size: 14px;*/
  color: #999;
}


/* 等待开始领取，待领取 */

.tasking-detail h2 span.status2,
.tasking-detail h2 span.status4,
.tasking-detail h2 span.status7,
.tasking-detail h2 span.status8 {
  color: #3b76d1;
}


/* 审核未通过 */

.tasking-detail h2 span.status5 {
  color: #fe3200;
}


/* 已完成 */

.tasking-detail h2 span.status8 {
  color: green;
}

.tasking-detail h3 span {
  font-weight: normal;
}

.tasking-detail-st {
  margin-top: 2px;
}

.tasking-detail h3 {
  padding: 3px 0;
  font-size: 14px;
  font-weight: 500;
}

.tasking-detail h3 b {
  color: #fe3200;
  font-weight: 500;
}

.tasking-detail h3 b.green {
  color: green;
}

.tasking-detail h3 b.gray {
  color: gray;
}

.tasking-detail h3 b.blue {
  color: #3b76d1;
}

.tasking-detail h3 b.orange {
  color: #fb6c00;
}

.tasking-detail h3 em {
  color: #fe3200;
}

.tasking-detail p span {
  font-size: 14px;
  color: #454545;
}

.tasking-detail p {
  padding: 3px 0;
  line-height: 1.5;
  overflow: hidden;
  color: #999999;
  font-size: 13px;
}

.tasking-detail-ov {
  max-height: none !important;
  overflow: auto !important;
}

.tasking-detail-open {
  display: none;
  height: 30px;
}

.tasking-detail-open h4 {
  position: relative;
  height: 20px;
}

.tasking-detail-open h4:after {
  position: absolute;
  z-index: 20;
  top: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid #dedede;
  -webkit-transform: scaleY(0.5);
}

.tasking-detail-open h4 a {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -17px;
  top: -17px;
  z-index: 22;
  padding: 3px;
  background: #FFFFFF;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.imui_icon_open {
  display: block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  background: #FFFFFF;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  font-weight: normal;
}

.imui_icon_open:after {
  width: 26px;
  font-family: ElegantIcons;
  content: '\003b';
  font-size: 24px;
  color: #dedede;
}

.imui_icon_off:after {
  width: 26px;
  font-family: ElegantIcons;
  content: '\003a';
  font-size: 24px;
  color: #dedede;
}


/*任务完成状态*/

.tasking-detail i {
  position: absolute;
  z-index: 11;
  top: 20px;
  right: 5%;
  display: block;
  width: 100px;
  height: 100px;
}

.tasking-detail i.tasking-finish {
  background: url(images/finish.png) no-repeat center center;
  background-size: 100px auto;
}

.tasking-detail i.tasking-unfinish {
  background: url(images/unfinish.png) no-repeat center center;
  background-size: 100px auto;
}

.tasking-detail i.tasking-ing {
  background: url(images/ing.png) no-repeat center center;
  background-size: 100px auto;
}


/* TAB 切换区域   */

.tasking-tab {
  height: 45px;
  line-height: 45px;
  font-size: 15px;
  background-color: #fff;
}

.tasking-tab li {
  background: #f1f1f1;
}

.tasking-tab li.on {
  background: #e4eefd;
}

#tasking_swiper {
  margin-bottom: 44px;
}


/*tasking-detail-cont*/

.tasking-detail-cont {
  padding: 10px;
}

.tasking-detail-cont h3 {
  color: #666666;
  border-bottom: 1px #f1f1f1 solid;
}

.tasking-detail-cont p {
  position: relative;
}

.tasking-detail-cont p:after {
  position: absolute;
  z-index: 8;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #f1f1f1;
  -webkit-transform: scaleY(0.5);
}

.tasking-detail-cont p,
.tasking-detail-cont h3 {
  padding: 4px 0;
  font-size: 14px;
  line-height: 2;
}

.tasking-detail-cont h3 {
  padding-top: 0;
}

.tasking-detail-cont p {
  padding: 6px 0;
}

.tasking-detail-cont p span,
.tasking-detail-cont h3 span {
  display: block;
}

.tasking-detail-cont p span {
  color: #666666;
}

.tasking-detail-cont p span:nth-child(1),
.tasking-detail-cont h3 span:nth-child(1) {
  width: 40%;
}

.tasking-detail-cont p span:nth-child(2),
.tasking-detail-cont h3 span:nth-child(2) {
  width: 19%;
}

.tasking-detail-cont p span:nth-child(3),
.tasking-detail-cont h3 span:nth-child(3) {
  width: 19%;
}

.tasking-detail-cont p span:nth-child(4),
.tasking-detail-cont h3 span:nth-child(4) {
  width: 22%;
}

.tasking-detail-cont h3 span b.r {
  padding-right: 16px;
}

.tasking-detail-cont p span a {
  display: inline-block;
  width: 60px;
  color: #FFF;
  background: #5b86c9;
  text-align: center;
  border-radius: 3px;
  float: right;
}

.tasking-detail-cont.disable p span a{
  opacity: 0.6;
}

.tasking-detail-cont p span a.ready {
  background: #cecece;
  color: #f7f7f7;
}


/* tasking_explain 详细参数 */

.tasking_explain {
  padding: 6px 10px 10px 10px;
}

.tasking_explain p {
  position: relative;
  font-size: 13px;
  color: #888888;
  text-align: right;
  padding: 4px 0;
  line-height: 2;
}

.tasking_explain p span {
  display: block;
  color: #454545;
  float: left;
  font-size: 14px;
}

.tasking_explain p:after {
  position: absolute;
  z-index: 8;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #f1f1f1;
  -webkit-transform: scaleY(0.5);
}


/* task_tab_join 参与糖友 */

.task_tab_join {
  background: #FFFFFF;
  font-size: 14px;
}

.task_tab_join:after {
  position: absolute;
  z-index: 8;
  top: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid #f7f7f7;
  -webkit-transform: scaleY(0.5);
}

.task_tab_join ul {
  margin-top: 10px;
}

.task_tab_join ul li {
  width: 50%;
  float: left;
  margin: 10px 0;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
}

.task_tab_join ul li img {
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.task_tab_join ul li i {
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-top: 7px;
}

.task_tab_join ul li i {
  background: url(images/join.png) left center no-repeat;
  background-size: 16px auto;
}

.task_tab_join ul li.task_unjoin i {
  background: url(images/unjoin.png) left center no-repeat;
  background-size: 16px auto;
}


/*tasking-do*/

.tasking-do {
  position: fixed;
  z-index: 33;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background: #fb6c00;
  color: #FFFFFF;
  font-size: 16px;
}