
/* 顶部 */
.td-header{
  background-color: #fff;
  color: #353535;
}

.td-header .imui_icon_back:before{ color: #353535;}

.task_banner{ overflow: hidden;}

.task_banner a, .task_banner img{
	display: block;
}

/* tab切换 */
.task_tab{
	background: #FFFFFF;
}


/* task_tab_explain 任务说明 */
.task_tab_explain p{
	padding:8px 10px;
	position: relative;
	font-size: 14px;
	color: #888888;
	text-align: right;
	line-height: 2;
}
.task_tab_explain p span{
	display: block;
	color: #454545;
	float: left;
}
.task_tab_explain p:after,.task_tab_detail p:after{
	position: absolute;
  z-index: 8;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #f0f0f0;
  -webkit-transform: scaleY(0.5);
}

/* task_tab_detail 任务明细 */
.task_tab_detail p{
	padding:10px 10px;
	position: relative;
	font-size: 14px;
	line-height: 2;
}
.task_tab_detail p span{
	display: block;
}
.task_detail_name,.task_detail_state{
	width: 30%;
}
.task_detail_num,.task_detail_score{
	width: 20%;
	text-align: center;
}
.task_finish{
	color: #b5b5b5;
}
.task_unfinish .task_detail_num,.task_unfinish .task_detail_score{
	color: #fe3200;
}
.task_detail_state a{
	display: inline-block;
	width: 60px;
	color: #FFFFFF;
	background: #5b86c9;
	text-align: center;
	border-radius: 3px;
	float: right;
}
.task_finish .task_detail_state a{
	background: #b5b5b5;
}

