/*背景*/

.bgf4 {
  background: #f4f4f4;
}


/*vip-info*/

.vip-info {
  position: relative;
  height: 106px;
  width: auto;
  background: url("images/task_bg.jpg") no-repeat top center;
  background-size: 100% 116px;
  padding-top: 10px;
}

.vip-info img {
  width: 60px;
  height: 60px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #FFFFFF;
  float: left;
  margin: 10px 24px 20px 16px;
}

.vip-info h3 {
  font-size: 16px;
  margin-top: 2px;
  line-height: 2;
  font-weight: 500;
}

.vip-info p {
  font-size: 14px;
  line-height: 24px;
}

.vip-info p span.orange {
  color: #ffc091;
  font-weight: 700;
}

.vip-info a.abs{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.vip-grade-img {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
}

.vip-grade {
  background: url("images/vip1.png") no-repeat left center;
  background-size: 18px auto;
}


/*vip-task*/

.vip-task {
  padding-bottom: 6px;
}

.vip-task-info {
  padding: 7px 16px 14px;
  font-size: 13px;
  color: #888;
  text-decoration: underline;
}

.vip-task-info span{
  text-decoration: none;
  color: #4ba1da;
}

.vip-task h2 {
  font-size: 15px;
  padding: 12px 16px 4px 16px;
  font-weight: 500;
}

.vip-task h2 span {
  color: #5b86ca;
  font-weight: 700;
}

.vip-task h2 span.ready{
  color: green;
}

.vip-task h3,
.vip-task p {
  position: relative;
  z-index: 11;
  padding: 6px 0;
  margin: 0 16px;
  line-height: 26px;
  font-size: 14px;
  border-bottom: 1px #eaeaea solid;
}

.vip-task p span,
.vip-task h3 span {
  display: block;
}

.vip-task p span:nth-child(1),
.vip-task h3 span:nth-child(1) {
  width: 40%
}

.vip-task p span:nth-child(2),
.vip-task h3 span:nth-child(2) {
  width: 19%
}

.vip-task p span:nth-child(3),
.vip-task h3 span:nth-child(3) {
  width: 19%
}

.vip-task p span:nth-child(4),
.vip-task h3 span:nth-child(4) {
  width: 22%
}

.vip-task p span a {
    display: inline-block;
    width: 54px;
    font-size: 12px;
    color: #FFF;
    background: #6990ce;
    text-align: center;
    border-radius: 3px;
    float: right;
}

.vip-task p span.ready a {
    background: #cecece;
    color: #f7f7f7
}

.vip-task p span {
  color: #666666;
}

.vip-task p span:nth-child(3) {
  /*color: #fb6c00;*/
}

.vip-task p span.ready {
  color: green;
}


/*vip-welfare*/

.vip-welfare-cont h2 {
  position: relative;
  font-size: 16px;
  line-height: 28px;
  padding: 8px 0 4px 14px;
  text-align: initial;
  font-weight: 500;
  color: #666;
}


.vip-welfare h2 {
  position: relative;
  font-size: 16px;
  line-height: 34px;
  margin: 0px 14px 4px;
  padding-left: 0;
  text-align: initial;
  font-weight: 500;
  color: #666;
}

.vip-welfare h2 a{
  float: right;
  font-size: 13px;
  color: #777;
}

.vip-welfare h2:after {
  position: absolute;
  z-index: 8;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-top: 1px solid #e6e6e6;
  -webkit-transform: scaleY(0.5);
}

.vip-welfare-option{
  display: none;
}


.vip-welfare-option a {
  display: block;
  width: 25%;
  float: left;
  padding-bottom: 10px;
  color: #666;
  font-size: 13px;
}

.vip-welfare-option a i:after {
  width: 50px;
  font-family: ElegantIcons;
  display: block;
  font-size: 26px;
  margin: 0 auto;
  color: #ccc;
  font-style: normal;
}


/* 当前会员权限 */

.vip-current a i:after {
  color: #5b86ca;
}

i.imui_icon_vipshop:after {
  content: '\E015';
}

i.imui_icon_welfare:after {
  content: '\e008';
}