/*vip-welfare-bg*/

.vip-welfare-bg {
  height: auto;
  width: 100%;
  background: url("images/task_bg.jpg") no-repeat top center;
  background-size: 100% 226px;
  padding-top: 16px;
}

.vip-welfare-bg img {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #FFFFFF;
}

.vip-welfare-bg h3 {
  font-size: 14px;
  line-height: 36px;
  height: 36px;
  margin-bottom: 14px;
  font-weight: 500;
}


/*vip-welfare-tab*/

.vip-welfare-tab {
  height: 88px;
  font-size: 14px;
}

.vip-welfare-tab li {
  position: relative;
  height: 100%;
}

.vip-welfare-tab li a {
  position: absolute;
  z-index: 22;
  top: 0;
  left: 50%;
  margin-left: -20px;
  display: block;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.vip-welfare-tab li a.vip-grade-bg {
  background: #85ace7;
}

.vip-MemberOrder {
  display: block;
  width: 28px;
  height: 28px;
  padding: 6px;
}

.vip-grade-one {
  background: url("images/vip4.png") no-repeat center center;
  background-size: 22px auto;
}

.vip-grade-two {
  background: url("images/vip1.png") no-repeat center center;
  background-size: 22px auto;
}

.vip-grade-three {
  background: url("images/vip2.png") no-repeat center center;
  background-size: 22px auto;
}

.vip-grade-four {
  background: url("images/vip3.png") no-repeat center center;
  background-size: 22px auto;
}

.vip-welfare-tab li p {
  position: absolute;
  z-index: 22;
  top: 46px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 13px;
}

.vip-welfare-tab li em {
  position: absolute;
  z-index: 11;
  top: 20px;
  right: -35%;
  display: block;
  width: 70%;
  height: 2px;
  background: #6196f9;
}

.vip-welfare-tab li em.vip-grade-bg {
  background: #fff;
}

.vip-welfare-tab li.on i {
  position: absolute;
  z-index: 22;
  left: 50%;
  margin-left: -6px;
  bottom: 0px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFFFFF;
}


/*vip-welfare-cont*/

.vip-welfare-cont2 h2 {
  position: relative;
  font-size: 16px;
  line-height: 28px;
  padding: 8px 0 4px 14px;
  text-align: initial;
  font-weight: 500;
  color: #666;
}

.vip-welfare-cont2 a {
  display: block;
  width: 25%;
  float: left;
  padding-bottom: 10px;
  color: #666;
  font-size: 13px;
}

.vip-welfare-cont2 a i:after {
  width: 50px;
  font-family: ElegantIcons;
  display: block;
  font-size: 26px;
  margin: 0 auto;
  color: #ccc;
  font-style: normal;
}