/*背景颜色*/

.bgf1 {
  background: #F1F1F1;
}


/*vip-day-welfare*/

.vip-day-welfare h3 {
  color: #666666;
}

.vip-day-welfare h3 {
  margin: 0 16px;
  padding: 8px 0px;
  font-size: 14px;
  line-height: 2;
  position: relative;
}

.vip-day-welfare p {
  margin: 0 16px;
  padding: 4px 0px;
  font-size: 14px;
  line-height: 2;
  position: relative;
}

.vip-day-welfare p:after,
.vip-day-welfare h3:after {
  position: absolute;
  z-index: 8;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transform: scaleY(0.5);
}

.vip-day-welfare p:after {
  border-bottom: 1px solid #e5e5e5;
}

.vip-day-welfare p span,
.vip-day-welfare h3 span {
  display: block;
}

.vip-day-welfare h3 span {
  font-size: 15px;
}

.vip-day-welfare p span:nth-child(1),
.vip-day-welfare h3 span:nth-child(1) {
  width: 40%
}

.vip-day-welfare p span:nth-child(2),
.vip-day-welfare h3 span:nth-child(2) {
  width: 35%
}

.vip-day-welfare p span:nth-child(3),
.vip-day-welfare h3 span:nth-child(3) {
  width: 25%
}

.vip-day-welfare p span:nth-child(1) {
  color: #666666;
}

.vip-day-welfare p span:nth-child(2) {
  color: #fe3200;
}

.vip-day-welfare p span:nth-child(3) {
  color: #fe3200;
}

.vip-day-welfare-remark {
  padding: 16px;
    color: #a9a9a9;
    line-height: 1.6;
    font-size: 13px;
}