/**
 * 模块化样式
 * ui-refresh: 下拉刷新、上拉加载更多样式
 */

.ui-refresh{
	position: relative;
}
.ui-loading {
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 12px;
    vertical-align: middle;
    background: url(./images/ui-loading.png) 0 0 no-repeat;
    -webkit-background-size: 25px 25px;
    -webkit-animation-name: ui-loading-anim;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: step-start;
}

@-webkit-keyframes ui-loading-anim {
	from {
        -webkit-transform: rotate(0deg);
    }
    8.32% {
        -webkit-transform: rotate(0deg);
    }
    8.33% {
        -webkit-transform: rotate(30deg);
    }
    16.65% {
        -webkit-transform: rotate(30deg);
    }
    16.66% {
        -webkit-transform: rotate(60deg);
    }
    24.99% {
        -webkit-transform: rotate(60deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    33.32% {
        -webkit-transform: rotate(90deg);
    }
    33.33% {
        -webkit-transform: rotate(120deg);
    }
    41.65% {
        -webkit-transform: rotate(120deg);
    }
    41.66% {
        -webkit-transform: rotate(150deg);
    }
    49.99% {
        -webkit-transform: rotate(150deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    58.32% {
        -webkit-transform: rotate(180deg);
    }
    58.33% {
        -webkit-transform: rotate(210deg);
    }
    66.65% {
        -webkit-transform: rotate(210deg);
    }
    66.66% {
        -webkit-transform: rotate(240deg);
    }
    74.99% {
        -webkit-transform: rotate(240deg);
    }
    75% {
        -webkit-transform: rotate(270deg);
    }
    83.32% {
        -webkit-transform: rotate(270deg);
    }
    83.33% {
        -webkit-transform: rotate(300deg);
    }
    91.65% {
        -webkit-transform: rotate(300deg);
    }
    91.66% {
        -webkit-transform: rotate(330deg);
    }
    99.99% {
        -webkit-transform: rotate(330deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.ui-refresh .ui-refresh-up, .ui-refresh .ui-refresh-down{
	text-align: center;
	font-size: 13px;
}

.ui-refresh .ui-refresh-up .ui-refresh-icon,
.ui-refresh .ui-refresh-down .ui-refresh-icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 12px;
    vertical-align: middle;
    background: url(./images/r-flip.png) no-repeat;
    -webkit-background-size: 25px 25px;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 400ms;
    -webkit-transition-timing-function: ease-in-out;
}

.ui-refresh .ui-refresh-down .ui-refresh-icon{
    -webkit-transform: rotate(180deg) translateZ(0);
}

.ui-refresh .ui-refresh-up .ui-refresh-flip{
    -webkit-transform: rotate(180deg) translateZ(0);
}

.ui-refresh .ui-refresh-down .ui-refresh-flip{
    -webkit-transform: rotate(0deg) translateZ(0);
}


.ui-refresh .ui-refresh-up .ui-loading,
.ui-refresh .ui-refresh-down .ui-loading{
    -webkit-transition-duration: 0ms;      /*停止flip动画*/
}

.ui-refresh .ui-refresh-label{
	
}

.ui-refresh .ui-refresh-up{
	position: absolute;
	left: 0;
	top: -30px;
	width: 100%;
	height: 30px;
	z-index: 99;
	/*visibility: hidden;*/
}

.ui-refresh .ui-refresh-down{
	height: 30px;
}

.ui-refresh .ui-refresh-down.mt13{
	margin-top: 13px;
	height: 38px;
}





