/**
 * 模块化样式
 * mood:糖控控心情模块
 */


/* 用户信息区域 -------------- */

.ui-moodUserArea {
	position: relative;
}


/* 头像 */

.ui-moodAvatar {
	width: 48px;
	margin-right: 12px;
}

.ui-moodAvatar img {
	display: block;
	border-radius: 50%;
	margin: 0 auto;
    width: 91%;
}


/* 名字 */

.ui-moodName {
	display: block;
	font-size: 14px;
	color: #555;
	line-height: 21px;
}


/* 信息 */

.ui-moodInfo {
	display: block;
	font-size: 12px;
	color: #999;
	line-height: 22px;
	height: 22px;
}

/* 点击区域遮罩 */

.ui-moodUserAreaClick {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
	content: '';
}



/* 心情内容区域 -------------- */

.ui-moodContArea {
	position: relative;
	margin-top: 6px;
}

/* 血糖数据 blood value */
.ui-moodBV{
	width: 48px;
	height: 48px;
	margin-left: 0px;
	margin-right: 12px;
	margin-top: 2px;
	background-color: #84c984;  /* 正常血糖值：绿色 */
	border-radius: 50%;
	text-align: center;
	position: relative;
}

/* 血糖数字 */
.ui-moodBV-value{
	display: block;
	padding-top: 7px;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
}

/* 血糖名称 */
.ui-moodBV-name{
	display: block;
	color: #fff;
	font-size: 11px;
}

/* 不正常血糖值：黄色 */
.ui-moodBV2{
	background-color: #ebc27b;
}

/* 严重不正常血糖值：红色 */
.ui-moodBV3{
	background-color: #ea8b8c;
}

/* 测试日期 */
.ui-moodTestDate{
	color: #B1B1B1;
    display: inline-block;
    line-height: 1.5;
    padding-bottom: 3px;
    border-bottom: 1px #ECECEC solid;
    margin-bottom: 5px;
    font-size: 12px;
}

/* 心情文字 */
.ui-moodText{
	font-size: 14px;
	line-height: 1.4;
	color: #555555;
}

/* 运动、饮食、用药 */
.ui-moodRelated{
	font-size: 12px;
	color: #999;
	margin-top: 4px;
}

.ui-moodRelated li{
	line-height: 20px;
	height: auto;
}

.ui-moodRelated li.date{
	margin-top: 10px;
	padding-right: 6px;
	font-size: 12px;
	text-align: right;
	color: #999;
}

.ui-moodRelated i{
	margin-left: -6px;
	margin-right: 4px;

}

.ui-moodRelated span.icon{
	display: block;
	width: 18px;
	height: 20px;
}


/* 图片 */
.ui-moodPhoto{
	position: relative;
	max-height: 300px;
	overflow: hidden;
	margin-top: 4px;
}

.ui-moodPhoto img{display: block;}


/* 底部功能区域 -------------- */

.ui-moodBootArea {
	margin-top: 8px;
	font-size: 12px;
	color: #999999;
}

/* 时间 */
.ui-moodTime{
	line-height: 22px;
	padding-left: 2px;
}

.ui-moodBootArea div.fn-right{ display: inline-block; text-align: right;}

/* 点赞、评论 */
.ui-moodLike, .ui-moodComment{
	display: inline-block !important;
	height: 22px;
	line-height: 22px;
	margin-left: 16px;
	color: #999999;
	text-align: left;
}

.ui-moodComment i, .ui-moodComment span{
	display: inline-block !important;
	word-break:keep-all;           /* 不换行 */
	white-space:nowrap;          /* 不换行 */
}

/* 首页糖控控记录右上角编辑箭头 */
.indexMoodEdit{
	position: absolute;
	right: 2px;
	top: 8px;
	z-index: 100;
}

.indexMoodEdit:before {
    font-family: ElegantIcons;
    content: '\0033';
    font-size: 28px;
    line-height: 28px;
    color: #999;
}

/* 首页糖控控记录右上角关注 */
.indexMoodFollow{
	position: absolute;
    right: 10px;
    top: 15px;
    line-height: 22px;
    color: #f60;
    border: 1px #ccc solid;
    padding: 1px 9px 1px 3px;
    border-radius: 4px;
    background-color: #FEFEFE;
    z-index: 100;
    font-size: 12px;
}

.indexMoodFollow:before {
    font-family: ElegantIcons;
    content: '\004C';
    font-size: 14px;
    line-height: 22px;
    color: #f60;
    float: left;
    margin-right: 3px;
}

.indexMoodFollow.on{
	color: #999;
}

.indexMoodFollow.on:before {
    content: '\004E';
    color: #999;
}

.indexMoodFollow.load{
	color: #F39C62;
}

.indexMoodFollow.load:before {
    content: '\E02D';
    color: #F39C62;
}

.indexMoodSystem{
	position: absolute;
	right: 6px;
    top: 12px;
	z-index: 100;
	padding-left: 4px;
}

.indexMoodSystem:before {
    font-family: ElegantIcons;
    content: '\E037';
    font-size: 18px;
    line-height: 28px;
    color: #999;
}


/* 屏幕适配调整样式区域  --------------*/

@media all and (min-width: 360px) {
	.ui-moodAvatar img{
		/*width: 98%;*/
	}
	/*
	.ui-moodBV{
		width: 54px;
		height: 54px;
	}*/
	.ui-moodBV-value{
		font-size: 15px;
		/*line-height: 22px;*/
	}
	.ui-moodBV-name{
		font-size: 12px;
	}
	.ui-moodName{
		font-size: 15px;
		line-height: 22px;
	}
	.ui-moodInfo{
		/*font-size: 13px;*/
	}
	.ui-moodRelated{
		font-size: 13px;
		margin-top: 6px;
	}
	/*.ui-moodText{
		font-size: 15px;
	}*/
}

