/**
 * 模块化样式
 * icon: 图标样式
 */


i.eye, i.man, i.woman, i.food, i.medicine, i.sports, i.like, i.comment{
	float: left;
	position: relative;
    top: 50%;
    transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    margin-right: 4px;
}

/* 查看次数 */
i.eye{
    width: 18px;
    height: 14px;
    background: url(images/eye.png) no-repeat center center;
    background-size: 18px 14px;
}

/* 男性图标 */
i.man{
	width: 9px;
	height: 12px;
	background: url(images/iconMan.png) no-repeat;
	background-size: 9px 12px;
}

/* 女性图标 */
i.woman{
	width: 9px;
	height: 12px;
	background: url(images/iconWomen.png) no-repeat;
	background-size: 9px 12px;
}

/* 心情数据：饮食图标 */
i.food{
	width: 20px;
	height: 13px;
	background: url(images/iconFood.png) left center no-repeat;
	background-size: 20px 13px;
}

/* 心情数据：用药图标 */
i.medicine{
	width: 20px;
	height: 13px;
	background: url(images/iconMed.png) left center no-repeat;
	background-size: 20px 13px;
}

/* 心情数据：运动图标 */
i.sports{
	width: 20px;
	height: 13px;
	background: url(images/iconSports.png) left center no-repeat;
	background-size: 20px 13px;
}

/* 点赞 */
i.like{
	width: 15px;
	height: 14px;
	background: url(images/iconLike.png) left center no-repeat;
	background-size: 15px auto;
}

i.like.on{
	background: url(images/iconLiked.png) left center no-repeat;
	background-size: 15px auto;
}


/* 评论 */
i.comment{
	width: 15px;
	height: 14px;
	background: url(images/iconComment.png) left center no-repeat;
	background-size: 15px auto;
}

i.comment.on{
	background: url(images/iconCommented.png) left center no-repeat;
	background-size: 15px auto;
}

b.plan, b.mood, b.post, b.sign, b.system{
	position: absolute;
	left: 0;
	top: 50%;
	width: 17px;
	height: 19px;
	transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
}

b.plan{
	background: url(images/ucenter_plan.png) no-repeat;
	background-size: 17px 19px;
}

b.mood{
	background: url(images/ucenter_mood.png) no-repeat;
	background-size: 17px 19px;
}

b.post{
	background: url(images/ucenter_post.png) no-repeat;
	background-size: 17px 19px;
}

b.sign{
	background: url(images/ucenter_sign.png) no-repeat;
	background-size: 17px 19px;
}

b.system{
	background: url(images/ucenter_system.png) no-repeat;
	background-size: 17px 19px;
}
