/* normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
textarea,
input[type="password"],
input[type="text"] {
	resize: none;
	outline: 0;
	-webkit-appearance: none;
	white-space: pre-wrap;
	word-wrap: break-word;
	background: #fff
}
button,
input,
optgroup,
select,
textarea {
	color: inherit;
	/* 1 */
	font: inherit; /* 2 */
	line-height: normal;
	font-family: sans-serif;
	margin: 0;
	/* 3 */
}

* {
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-touch-callout: none;
	// Firefox OS
	background: linear-gradient(to bottom, transparent, transparent);
}
a, button, input, optgroup, select, textarea {
    border: none;
    color: inherit;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
}
/* 图片最大宽度 */
img{ max-width: 100%; /*display: block;*/}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

/* common style */
.boderBox{
	-webkit-box-sizing: border-box;
    box-sizing: border-box
}
.flexBox {
	display: -moz-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: box;
}

.flex1 {
	-moz-box-flex: 1;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	box-flex: 1;
}

.flex2 {
	-moz-box-flex: 2;
	-webkit-box-flex: 2;
	-ms-flex: 2;
	box-flex: 2;
}

/* Float */
.fn-clear:after { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
.fn-clear { zoom:1; /* for IE6 IE7 */}
.fn-left{ float:left}
.fn-right{ float:right}

.clearfix{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}

html, body, .bodyarea, .mainarea, .maincont{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

html, body, .maincont{
	position: relative;
}

.contarea{
	height: 100%;
	padding-bottom: 0;
	padding-top: 50px;
	-webkit-box-sizing: border-box;
    box-sizing: border-box
}

.borderBox{
  -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.bgfff{
	background-color: #fff;
}

/* dz 样式覆盖 */
.body_main_tkk{
	overflow-y: hidden;
}

/* 100% A链接 */
.block100_a{
  display: block;
  height: 100%;
  width: 100%;
}

.block100_a_abs{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.color-white, .color-color-white a{
  color: #ffffff;
}

.color-33, .color-33 a{
  color: #333333;
}

.color-66, .color-66 a{
  color: #666666;
}

.color-99, .color-99 a{
  color: #999999;
}

.tac{
  text-align: center;
}
