/**
 * 用户中心首页 20161028
 */


/* 页面滚动  */

.body_ucenter {
  padding-bottom: 10px;
  overflow: hidden;
  overflow-y: scroll;
  height: -moz-calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  height: calc(100% - 50px);
}

.ucIndex-header {
  background-color: #5b86ca;
}


/* 顶部消息 */

.ucIndex-header-mes {
  position: absolute;
  display: block;
  right: 0px;
  top: 10px;
  margin-right: 7px;
  font-size: 11px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-weight: 500;
  background-color: #fa6265;
  color: #fff;
  border-radius: 50%;
}

.ucIndex-card {
  background-color: #5b86ca;
  padding: 16px 8px 19px 10px;
}

.ucIndex-card-ar {
  line-height: 46px;
  color: #dfe9fa;
  font-size: 13px;
  padding-left: 14px;
}

.ucIndex-card-ar i {
  float: right;
  height: 46px;
}

.ucIndex-card-ar i:after {
  font-family: ElegantIcons;
  content: '\0035';
  font-size: 30px;
}

.ucIndex-card-us {
  float: left;
  position: relative;
  width: 46px;
  height: 46px;
  margin-right: 10px;
  margin-left: 7px;
}

.ucIndex-card-us img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.ucIndex-card-us input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 100;
}

.ucIndex-card-name {
  font-size: 17px;
  color: #fff;
  font-weight: 500;
}

.ucIndex-card-mood {
  color: #ccdaf0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}


/* 我的棒棒糖、我的粉丝 */

.ucIndex-ndata {
  position: relative;
  padding: 8px 0;
  color: #fff;
  background-color: #5278b5;
}

.ucIndex-ndata:after {
  position: absolute;
  left: 50%;
  top: 20%;
  width: 1px;
  height: 60%;
  background-color: #97aed3;
  content: '';
}

.ucIndex-ndata a {
  width: 50%;
}

.ucIndex-ndata p {
  font-size: 13px;
}

.ucIndex-ndata h3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
}


/* 主体内容 */

.ucIndex-cont {
  background-color: #e6e9ed;
}


/* 内容分块 */

.ucIndex-section {
  margin-top: 10px;
  background-color: #fff;
  border-top: 1px #d6dade solid;
  border-bottom: 1px #d6dade solid;
}


/* 任务中心、会员中心容器层 */

.ucIndex-taskAndVip {
  position: relative;
  padding-top: 14px;
  padding-bottom: 14px;
}

.ucIndex-taskAndVip div {
  width: 50%;
}

.ucIndex-taskAndVip:after {
  position: absolute;
  left: 0px;
  top: -1px;
  width: 100%;
  height: 1px;
  background-color: #ececec;
  content: '';
  -webkit-transform: scaleY(0.5);
}

.ucIndex-taskAndVip:before {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 1px;
  height: 100%;
  background-color: #ececec;
  content: '';
  -webkit-transform: scaleY(0.5);
}


/* 图标 */

.ucIndex-cont i {
  float: left;
  position: relative;
  width: 25px;
  height: 28px;
  margin-right: 8px;
  margin-left: 12px;
}

.ucIndex-cont i.task {
  background: url(/page/ucenter/images/ucenter_03.jpg) left center no-repeat;
  background-size: 25px auto;
}

.ucIndex-cont i.vip {
  background: url(/page/ucenter/images/ucenter_05.jpg) left center no-repeat;
  background-size: 25px auto;
  margin-left: 16px;
}

.ucIndex-cont i.order {
  background: url(/page/ucenter/images/ucenter_09.jpg) left center no-repeat;
  background-size: 25px auto;
}

.ucIndex-cont i.blood {
  background: url(/page/ucenter/images/ucenter_11.jpg) left center no-repeat;
  background-size: 25px auto;
}

.ucIndex-cont i.tkk {
  background: url(/page/ucenter/images/ucenter_13.jpg) left center no-repeat;
  background-size: 25px auto;
}

.ucIndex-cont i.forum {
  background: url(/page/ucenter/images/ucenter_15.jpg) left center no-repeat;
  background-size: 25px auto;
}

.ucIndex-cont i.invite {
  background: url(/page/ucenter/images/ucenter_17.jpg) left center no-repeat;
  background-size: 25px auto;
}

.ucIndex-cont i.favorite {
  background: url(/page/ucenter/images/ucenter_19.jpg) left center no-repeat;
  background-size: 25px auto;
}

.ucIndex-cont i.system {
  background: url(/page/ucenter/images/ucenter_21.jpg) left center no-repeat;
  background-size: 25px auto;
}

.ucIndex-cont h3 {
  float: left;
  line-height: 20px;
  font-weight: 500;
  color: #454545;
  font-size: 15px;
}

.ucIndex-cont h3 p {
  font-size: 12px;
  color: #999999;
  text-indent: 1px;
}

.ucIndex-cont h3 p span {
  color: #ff6969;
}

.ucIndex-cont h3 strong {
  font-weight: 500;
}


/* 列表项 */

.ucIndex-item {
  position: relative;
  padding: 7px 8px 7px 0;
}

.ucIndex-section .ucIndex-item:not(:last-child):before {
  position: absolute;
  left: 12px;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #e6e9ed;
  content: '';
  -webkit-transform: scaleY(0.5);
}

.ucIndex-item h3 {
  line-height: 28px;
}

.ucIndex-item p {
  float: left;
  line-height: 28px;
  color: #bfbfbf;
  margin-left: 10px;
}

.ucIndex-item-arrow {
  float: right;
  position: relative;
  height: 28px;
  line-height: 28px;
}

.ucIndex-item-arrow:after {
  font-family: ElegantIcons;
  content: '\0035';
  font-size: 28px;
  color: #cccccc;
}


/**
 * view：消息中心
 */

.body_main_tkk .imui_blocks {
  margin-top: 0;
  font-size: 15px;
  color: #333;
}

.body_main_tkk .imui_blocks_access .imui_block_hd span:after {
  color: #888;
  font-size: 18px;
}

.body_main_tkk .imui_block_bd span {
  font-size: 12px;
  color: #999;
}

span.n_like:after {
  content: '\E030';
}

span.n_comment:after {
  content: '\0076';
}

span.n_info:after {
  content: '\007A';
}

span.n_message:after {
  content: '\E010';
}

.body_main_tkk .imui_block_ft b {
  display: inline-block;
  margin-right: 6px;
  font-size: 12px;
  width: 19px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  font-weight: 500;
  background-color: #fa6265;
  color: #fff;
  border-radius: 50%;
}


/****** 评论、点赞、通知共用 *******/

.ucNewsItem {
  padding-top: 12px;
}

.ucNewsItem-avatar {
  display: block;
  margin-left: 10px;
  margin-right: 7px;
}

.ucNewsItem-cont {
  position: relative;
  padding-right: 10px;
  padding-top: 4px;
}

.ucNewsItem-cont:after {
  position: absolute;
  z-index: 8;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #c6c7cc;
  -webkit-transform: scaleY(0.5);
}

.ucNewsItem-title {
  font-size: 14px;
  padding-left: 2px;
  line-height: 20px;
  color: #858585;
}

.ucNewsItem-title p {
  max-height: 54px;
  overflow: hidden;
  line-height: 18px;
}

.ucNewsItem-title a {
  color: #7586a9;
}

.ucNewsItem-cont .ui-moodBV {
  border-radius: 0;
  margin-right: 0;
  margin-left: 13px;
}

.ucNewsItem-date {
  padding: 8px 0 4px 2px;
  font-size: 12px;
  color: #a7a7a7;
  line-height: 1.8;
}


/* 内容整体点击区域 */

.ucNewsItem-clickAll {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 8;
}


/* 来源点击区域 */

.ucNewsItem-clickSource {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  right: 10px;
  top: 4px;
  z-index: 10;
}


/****** 评论页面 ******/


/* 评论页面容器 */

.ucNewsComeCont {
  padding-top: 4px;
}


/* 单条评论内容区域 */

.ucNewsComeWords {
  position: relative;
  margin-top: 10px;
  background-color: #f0f0f0;
  font-size: 12px;
  padding: 7px 8px 6px 9px;
  line-height: 1.5;
}

.ucNewsComeWords p img {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: text-top;
  margin: 0 2px;
}

.ucNewsComeWords:before {
  position: absolute;
  left: 18px;
  top: -7px;
  z-index: 9;
  width: 0;
  height: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #f0f0f0;
}


/****** 点赞页面 ******/

.ucNewsLikeCont .ucNewsItem-date {
  padding-top: 0;
}


/****** 通知页面 ******/

.ucNewsInfoCont .ucNewsItem-date {
  padding-top: 4px;
}