.body_invite {
  background: #507abc url(images/bg.jpg) center bottom no-repeat;
  background-size: 100% auto;
  padding-bottom: 54px;
  padding-top: 0;
}

.invite-title {
  font-size: 21px;
  padding-top: 34px;
  line-height: 30px;
  text-align: center;
  color: #d2e1f8;
}

.invite-title span {
  display: inline-block;
  position: relative;
  padding-right: 18px;
}

.invite-title i {
  display: block;
  position: absolute;
  right: -18px;
  top: 0px;
  width: 30px;
  height: 26px;
  background: url(images/pen.jpg) center bottom no-repeat;
  background-size: auto 100%;
}


/* 盒子区域 */

.invite-wrapper {
  position: relative;
  width: 84%;
  margin: 0 auto;
  height: 430px;
  margin-top: 22px;
}

.invite-box-bg,
.invite-box {
  position: absolute;
  left: 0;
  
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.invite-box-bg {
  background-color: #7badfb;
  opacity: 0.6;
  z-index: 9;
}

.invite-box {}

.invite-say {
  color: #fff;
  text-align: center;
}

.invite-say p {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 16px;
  line-height: 1.8;
  padding: 36px 0 30px;
}

.invite-say p:before {
  position: absolute;
  display: block;
  left: -28px;
  top: 18px;
  content: '';
  width: 16px;
  height: 16px;
  background: url(images/left_dou.png) no-repeat;
  background-size: auto 100%;
}

.invite-say p:after {
  position: absolute;
  display: block;
  right: -28px;
  bottom: 18px;
  content: '';
  width: 16px;
  height: 16px;
  background: url(images/right_dou.png) no-repeat;
  background-size: auto 100%;
}

.invite-say p b {
  color: #f9c687;
}

/* 二维码 */
.invite-wcode{
  margin: 0 auto;
  width: 130px;
  height: 130px;
  padding: 10px;
  background-color: #fff;
}

.invite-wcode img{
  max-width: 100%;
}

/* 扫描说明 */
.invite-info{
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  color: #fff;
  opacity: 0.8;
  text-decoration: underline;
}

.invite-slogan{
  padding-top: 40px;
  color: #fff;
  font-size: 14px;
  opacity: 0.8;
  font-style: italic;
  text-align: center;
}

/* 底部固定邀请 */
.invite-btn{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 46px;
  background-color: #6eb36e;
  color: #fff;
  font-size: 15px;
}
