/**
 * 分享页样式
 * 
 */


body{
	background-color: #FFFFFF;
	
}

.share_body{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	position: relative;
}



/*图*/
.share_pic img,.share_bg img,.share_foot img{
	display: block;
	width: 100%;
	max-width: 750px;
}

/*背景*/
.share_bg{
	position: relative;
}

/*邀请介绍*/
.share_copy{
	width: 250px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.share_copy h2{
	font-size: 17px;
	color: #FFFFFF;
	line-height: 150%;
	font-weight: normal;
}

.share_copy p{
	font-size: 16px;
	color: #FFFFFF;
}

.share_copy p span{
	font-size: 16px;
	color: #00ffbc;
}



/*邀请按钮*/
.share_click{
	background-color: #1b58d3;
}

.share_click a{
	display: block;
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	width: 80%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #ffe21c;
	margin: 0 auto;
	border-radius: 20px;
}


/*底部*/
.share_foot{
	position: relative;
}

.share_ft_copy{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.share_foot h2{
	padding-top:16px;
	font-size: 15px;
	color: #FFFFFF;
	text-align: center;
	font-weight: normal;
}

.share_foot p{
	font-size: 17px;
	color: #FFFFFF;
	text-align: center;	
	line-height: 120%;
}

.share_foot p span{
	font-size: 17px;
	color: #ffea00;
	text-align: center;	
}



.share_up_bg{
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
}


.share_up{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.7;
	z-index: 2;
}

/*.share_up_copy{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}*/

.share_arrow{
	width: 21%;
	position: absolute;
	top: 5%;
	right: 10%;
	z-index: 3;
	
}

.share_fenx{
	width: 65%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	z-index: 3;
	border-radius: 10px;
}


@media screen and (max-width: 320px) {

	.share_click a{
		width: 88%;
		font-size: 17px;
	}
	
	
}