/**
 * 发现页面新版样式 
 * CreateDate:2016-11-14
 */


/* 导航部分 */

.nxNav {
  padding: 9px 2px 7px 2px;
}

.nxNav-box {}

.nxNav-box li {
  text-align: center;
  width: 25%;
}

.nxNav-box li a {
  display: block;
  width: 100%;
  height: 100%;
}

.nxNav-box li i {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.nxNav-box li i.ask {
  background: url(images/find_03.jpg) center center no-repeat;
  background-size: 40px 40px;
}

.nxNav-box li i.lab {
  background: url(images/find_05.jpg) center center no-repeat;
  background-size: 40px 40px;
}

.nxNav-box li i.fm {
  background: url(images/find_07.jpg) center center no-repeat;
  background-size: 40px 40px;
}

.nxNav-box li i.tools {
  background: url(images/find_09.jpg) center center no-repeat;
  background-size: 40px 40px;
}

.nxNav-box li i.extend {
  background: url(images/find_11.jpg) center center no-repeat;
  background-size: 40px 40px;
}

.nxNav-box li i.class {
  background: url(images/find_kt.jpg) center center no-repeat;
  background-size: 40px 40px;
}

.nxNav-box li span {
  display: block;
  color: #454545;
  line-height: 1.2;
}


/* 微课堂、糖友故事 */

.fd-class {
  position: relative;
  margin-top: 10px;
  padding-bottom: 18px;
  margin-bottom: 26px;
}

.fd-class h2 {
  position: relative;
  line-height: 44px;
}

.fd-class h2 strong {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  padding-left: 28px;
  background: url(images/find_19.jpg) left center no-repeat;
  background-size: 25px auto;
}

.fd-story h2 strong {
  background: url(images/find_26.jpg) left center no-repeat;
  background-size: 25px auto;
}

.fd-class h2 a {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background: url(images/find_22.jpg) 21px center no-repeat;
  background-size: 6px auto;
  z-index: 101;
}


/* 微课堂、糖友故事 @ swiper内容区域 */

.fd-class .swiper-slide {
  padding: 0 10px;
}

.fd-class .swiper-wrapper {
  padding-bottom: 26px;
}

.fd-class .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
}

.fd-classItem {
  padding: 0 2px;
  width: 33.3%;
}

.fd-classItem p {
  padding: 0 2px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


/* 微课堂、糖友故事 @ 底部边界按钮 */

.fd-classBotBtn {
  position: absolute;
  font-size: 11px;
  left: 50%;
  bottom: 0;
  width: 108px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #f2f2f2;
  margin-left: -54px;
  margin-bottom: -14px;
  background-color: #fff;
}


/* 共用的box */

.fd-contBox {
  margin-top: 10px;
  padding: 0 10px 12px 10px;
}

.fd-contBox h2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 44px;
}


/* 公众号精华文章 */

.fd-essence {
  margin-bottom: 4px;
}

.fd-essence li {
  margin: 0 2px;
  width: 33.3%;
}

.fd-essence li a {
  background-color: #597cba;
  text-align: center;
  line-height: 32px;
  font-size: 13px;
}

.fd-essence li a.oth {
  background-color: #6e92d2;
}


/* 本周排行榜 */

.fd-rank {
  padding: 0 2px;
}

.fd-rankTab {
  margin-top: 2px;
}

.fd-rankTab span {
  display: block;
  line-height: 26px;
  font-size: 13px;
  background-color: #dcdcdc;
  margin-right: 2px;
  border-radius: 2px 8px 0 0;
  color: #989898;
}

.fd-rankTab span.current {
  border-bottom: 0;
  position: relative;
  background-color: #f1f1f1;
  line-height: 27px;
  color: #333;
}

.fd-rankList-container {
  background-color: #f1f1f1;
}

.fd-rankList {
  padding: 8px 12px 4px 12px;
  width: 100%;
  display: block;
}

.fd-rankList li {
  position: relative;
  line-height: 22px;
  padding: 6px 0;
}

.fd-rankList li:after {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #dfdfdf;
  content: '';
  -webkit-transform: scaleY(0.5);
}

.fd-rankList li:last-child:after {
  display: none;
}

.fd-rankList span.one {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  background-color: #a8a8a8;
  color: #fff;
  text-align: center;
  line-height: 16px;
  font-size: 11px;
  vertical-align: middle;
}

.fd-rankList span.two {
  display: inline-block;
  width: 43%;
  text-align: left;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.fd-rankList span.two img {
  margin-right: 6px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  vertical-align: middle;
}

.fd-rankList span.three {
  display: inline-block;
  width: 20%;
  text-align: center;
  color: #666;
  vertical-align: middle;
}

.fd-rankList .indexMoodFollow {
  right: 0;
  top: 50%;
  margin-top: -12px;
  line-height: 20px;
  font-size: 11px;
}

.fd-rankList .indexMoodFollow:before {
  font-size: 12px;
  line-height: 20px;
}

.fd-rankList .indexMoodFollow.on {
  width: 37px;
  text-align: center;
  padding: 1px 6px;
}

.fd-rankList .indexMoodFollow.on:before {
  display: none;
}


/* 是自己 */
.fd-rankList li.self span.two, .fd-rankList li.self span.three{
  font-weight: 700;
}

.fd-rankList .indexMoodFollow.on.self {
  padding: 1px 6px 1px 4px;
  width: 39px;
}

.fd-rankList .indexMoodFollow.on.self:before {
  display: block;
}

.fd-rankList li:nth-child(-n+3) span.one {
  background-color: #e45252;
}

.fd-rankList li:nth-child(-n+3) span.three {
  color: #e45252;
}


/* 往期专题 */

.fd-h5 {
  margin: 0 2px;
  padding-bottom: 20px;
  overflow-x: scroll;
}

.fd-h5-item {
  display: inline-block;
  margin-right: 6px;
  width: 100px;
}

.fd-h5-item p {
  padding: 0 2px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


/* 数据加载提示 */

.fd-loading {
  display: block;
  text-align: center;
  width: 100%;
  color: #555;
}

.fd-loading a {
  padding-left: 8px;
  text-decoration: underline;
}

.fd-rank .fd-loading {
  padding: 12px 0;
}